.banner{
	max-width: 1000px;
	position: relative;
	top: 120px;
	margin: auto;
}

.banner img{
	width: 100%;
}

.startup{
	max-width: 1000px;
	position: relative;
	margin: auto;
	top: 120px;
	text-align: center;
}

.startup h1{
	font-family: 'Monotype corsiva', sans-serif;
	font-size: 3.6em;
	margin-bottom: 30px;
}

.redesSociales h3, .redesSociales h4{
	font-family: 'Monotype corsiva', sans-serif;
	font-size: 2.5em;
}

.parrafo1{
	border: 1px solid black;
	border-radius: 0 35px 0 35px;
	margin-bottom: 30px;
	padding: 10px;
}

.parrafo2{
	border: 1px solid black;
	border-radius: 35px 0 35px 0;
	margin-bottom: 30px;
	padding: 10px;
}

.parrafoHover:hover{
	transform: scale(1.1);
	transition: .4s;
}