.advertencia{
	max-width: 1000px;	
	position: relative;
	top: 120px;
	margin: auto;
	display: flex;
}

.fondoAdvertencia{
	width: 100%;
}

.advertencia img{
	border-radius: 10px;
}

.advertencia:hover .grandePequeno{
	animation: 1S grandePequeno infinite;
}

.advertencia:hover .mirame{
	transform: translateX(20px);
	transition: .5s;
}

.textoAdvertencia{
	position: absolute;
	top: 65px;
	left: 34px;
	display:flex;
}

.textoAdvertencia img{
	position: relative;
	left: 110px;
}

.textoAdvertencia div{
	color: #e83737;
	position: relative;
	top: 65px;
	left: 90px;
	line-height: 15px;
	font-size: larger;
}

.textoAdvertencia h2{
	margin-left: 20px;
}

.tienda{
	max-width: 1000px;
	display: flex;
	flex-wrap: wrap;
	position: relative;
	margin:  0 auto;
	top: 170px;
	justify-content: space-between;
}

.productos{
	border: 2px solid black;
	border-radius: 10px;
	padding: 10px;
	background-color: rgba(51, 51, 51, 0.35);
}

.productos:hover{
	transform: scale(1.07);
	transition: .4s;
}

.productos h3{
	text-align: center;
	background-color: #333;
	margin: 0;
	border-radius: 4px;
	border: 2px solid white;
	padding: 8px 0;
}

.productos h3 a{
	text-decoration: none;
	color: #fff;
	padding: 5px 5px;
}

.precio{
	display: flex;
	align-items: center;
	flex-direction: column;
	width: 300px;
	background-color: rgba(255,255,255,.6);
	position: relative;
	top: 3px;
	border-radius: 5px;
}

.precio a{
	display: block;
	margin-left: 10px;
	text-decoration: none;
	color: darkslategray;
}

.valor{
	font-size: 36px;
	position: relative;
	top: 6px;
}

.moneda{
	font-size: x-small;
	position: relative;
	right: -95px;
	top: -15px;
}

.separador{
	margin: 0;
	margin-bottom: 15px;
}

.espacio_arriba{
	margin-top: 25px;
}

.productDescription{
	display: flex;
	flex-direction: column;
	text-align: center;
	margin-top: 20px;
	justify-content: center;
}

.cabezaProduct{
	width: 298px;
	line-height: 25px;
	color: dimgray;
}

.productDescription ul{
	list-style: none;
	text-align: left;
}

.productDescription li{
	margin: 10px 0;
}

.productDescription li span{
	border-bottom: 2px dotted gray;
	font-family: 'Open Sans', sans-serif;
}

.btnCompra{
	text-align: center;
	margin: 40px 0;
	cursor: pointer;
}

.btnCompra:hover{
	transform: scale(1.15);
	transition: .3s;
}

.btnCompra:active{
	transform: scale(1.08);
	transition: .3s;
}

.btnCompra a{
	text-decoration: none;
	color: white;
	padding: 15px;
	border: 2px solid yellow;
	background: #333;
	border-radius: 40px;
}

.mediosDePago{
	display: flex;
	margin: 10px;
	justify-content: space-between;
}

.mediosDePago p{
	color: white;
	margin: 0;
}

.mediosDePago div img{
	padding: 0 5px 0 0;
}

.tienda{
	margin-bottom: 240px;
}

@keyframes grandePequeno{
	50%{
		transform: scale(1.1);
	}
	100%{
		transform: scale(1);
	}
}