<!DOCTYPE html>
<html>
	<head>
		<title>Guia Emprendiendo por Internet</title>
		<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
			<meta charset="utf-8">
			<meta property="og:url" content="https://pedronelbuiles.github.io/Mitalento/views/blog.html"/>
			<meta property="og:type" content="article"/>
			<meta property="og:title" content="Guia Emprendiendo por Internet"/>
			<meta property="og:description" content="¿Sabes que Internet es el futuro de la economia? Aprende a emprender por Interent con esta guia ¡Gratuita!">
			<meta property="og:image" content="https://pedronelbuiles.github.io/Mitalento/img/productosPropios.jpg">
			<link rel="shorcut icon" href="../img/logo_sin_fondo.png">
			<link rel="stylesheet" type="text/css" href="../css/mitalento.css">
	</head>
	<body>
		<div>
			<div class="caja">
				<header id="header" class="header contenedor_cabeza">
					<figure class="logo">
						<img src="../img/logo_sin_fondo.png" id="logo" width="80"  alt="Logo Mi Talento">
						<img src="../img/Mitalento.png" class="letra_logo">
					</figure>
					<span class="icon-menu btn-menu" id="btn-menu"></span>
					<nav class="menu">
						<ul id="menu">
							<li><a href="../index.html">Home</a></li>
							<li><a href="nosotros.html">Nosotros</a></li>
							<li><a href="blog.html">Blog</a></li>
							<li><a href="tienda.html">Tienda</a></li>
							<li><a href="donaciones.html">Donaciones</a></li>
							<li><a href="#footer">Contacto</a></li>
						</ul>
					</nav>
				</header>
			</div>
		<!-- contenido -->
		<section class="blog">
			<article class="articulo_pincipal">
				<img src="../img/productosPropios.jpg" class="img_principal" style="max-height: 610px;">
				<a href="blog/introduccionEmprendiendo.html" class="reset">
					<div class="descripcion" style="background-color: rgba(171, 171, 171, .53);">
						<h1>Introducción</h1>
						<div class="autor">
							<p>
								<img src="../img/Pedro.jpg" width="35" height="35"> <span>Pedro Nel Builes</span>
							</p>
							<span>Emprende por Internet</span>
						</div>
					</div>
				</a>
			</article>
			<div class="partes">
				<div class="btn-articulos crece"><a href="blog.html">Articulos</a> </div>
				<div class="activado guias crece"><a href="guias.html">Guias</a></div>
			</div>
			<section class="articulos">
				<a href="blog/trabajarOemprender.html">
					<article class="articulos_pasados">
						<img data-original="../img/notebook.jpg" width="300" class="lazy imgMuestra">
						<div>
							<h3>¿Trabajar o emprender?</h3>
							<div class="autor">
								<p>
									<img src="../img/Pedro.jpg" width="35" height="35"> <span>Pedro Nel Builes</span>
								</p>
								<span>Emprende</span>
							</div>
						</div>
					</article>
				</a>
				<a href="blog/antesDeEmprender.html">
					<article class="articulos_pasados">
						<img data-original="../img/womanWorkBig2.jpg" width="300" class="lazy imgMuestra">
						<div>
							<h3>Antes de emprender.</h3>
							<div class="autor">
								<p>
									<img src="../img/Pedro.jpg" width="35" height="35"> <span>Pedro Nel Builes</span>
								</p>
								<span>Emprende</span>
							</div>
						</div>
					</article>
				</a>
				<a href="blog/problemasYsoluciones.html">
					<article class="articulos_pasados">
						<img data-original="../img/pensando.jpg" width="300" class="lazy imgMuestra">
						<div>
							<h3>Problemas y soluciones.</h3>
							<div class="autor">
								<p>
									<img src="../img/Pedro.jpg" width="35" height="35"> <span>Pedro Nel Builes</span>
								</p>
								<span>Emprende</span>
							</div>
						</div>
					</article>
				</a>
				<a href="blog/productosOserviciosPropios.html">
					<article class="articulos_pasados">
						<img data-original="../img/productosPropios.jpg" width="300" class="lazy imgMuestra">
						<div>
							<h3>¿Porductos o servicios propios?</h3>
							<div class="autor">
								<p>
									<img src="../img/Pedro.jpg" width="35" height="35"> <span>Pedro Nel Builes</span>
								</p>
								<span>Emprende</span>
							</div>
						</div>
					</article>
				</a>
				<a href="blog/ProductosOServiciosAfiliados.html">
					<article class="articulos_pasados">
						<img data-original="../img/productosAfiliados.png" width="300" class="lazy imgMuestra">
						<div>
							<h3>¿Productos o servicios de afiliados?</h3>
							<div class="autor">
								<p>
									<img src="../img/Pedro.jpg" width="35" height="35"> <span>Pedro Nel Builes</span>
								</p>
								<span>Emprende</span>
							</div>
						</div>
					</article>
				</a>
				<a href="blog/organizaTiempo.html">
					<article class="articulos_pasados">
						<img data-original="../img/workOut.jpg" width="300" class="lazy imgMuestra">
						<div>
							<h3>Organización del tiempo</h3>
							<div class="autor">
								<p>
									<img src="../img/Pedro.jpg" width="35" height="35"> <span>Pedro Nel Builes</span>
								</p>
								<span>Emprende</span>
							</div>
						</div>
					</article>
				</a>
				<a href="blog/investigacionDeMercado.html">
					<article class="articulos_pasados">
						<img data-original="../img/womenWork.jpg" width="300" class="lazy imgMuestra">
						<div>
							<h3>Investigación del mercado</h3>
							<div class="autor">
								<p>
									<img src="../img/Pedro.jpg" width="35" height="35"> <span>Pedro Nel Builes</span>
								</p>
								<span>Emprende</span>
							</div>
						</div>
					</article>
				</a>
				<a href="blog/presentate.html">
					<article class="articulos_pasados">
						<img data-original="../img/ojomoney.png" width="300" class="lazy imgMuestra">
						<div>
							<h3>Presentate en 20 segundos</h3>
							<div class="autor">
								<p>
									<img src="../img/Pedro.jpg" width="35" height="35"> <span>Pedro Nel Builes</span>
								</p>
								<span>Emprende</span>
							</div>
						</div>
					</article>
				</a>
				
				
			</section>
		</section>
		<section class="paginador">
			<a href="guias.html">
				<div class="btn_paginador lugar">
					<p>Volver a las guias</p>
				</div>
			</a>
			<!-- <a href="#">
				<div class="btn_paginador">
					<p>2</p>
				</div>
			</a>
			<a href="#">
				<div class="btn_paginador">
					<p>3</p>
				</div>
			</a>
			<a href="#">
				<div class="btn_paginador">
					<p>4</p>
				</div>
			</a>
			<a href="#">
				<div class="btn_paginador">
					<p>Siguiente</p>
				</div>
			</a> -->

		</section>
		<!-- footer -->
				<footer id="footer" class="footer">
			<div class="contenedor_footer">
				<div class="contacto">
					<img data-original="../img/sin_fondo.png" class="img_footer lazy" width="120" height="130">
					<div class="orden">
						<div class="wapp"></div><a href="tel:+573008865375"><strong>Teléfono</strong><span>+(57) 300 886 5375</span></a>
						<a href="mailto:mitalentom@gmail.com"><strong>Email</strong><span>mitalentom@gmail.com</span></a>
					</div>
				</div>
				<form class="formulario" action="https://formspree.io/mitalentom@gmail.com" method="POST">
					<div class="col1">
						<label for="nombre"> Nombre</label>
						<input type="text" required id="nombre">
						<label for="email" > E-mail</label>
						<input type="email" required id="email">
						<div class="sexo">
							<label for="mujer">
								<input type="radio" name="sexo" value="mujer" checked id="mujer"> Mujer
							</label>
							<label for="hombre">
								<input type="radio" name="sexo" value="hombre" id="hombre"> Hombre
							</label>
						</div>
						<div class="interes">
							<label for="freelance">
								<input type="checkbox" name="freelance" checked id="freelance"> Quiero trabajar por Internet
							</label>
							<label for="comentarios">
								<input type="checkbox" name="comentarios" id="comentarios"> comentarios
							</label>
							<label for="talentos">
								<input type="checkbox" name="talentos" id="talentos"> Quiero aprocechar mi talento
							</label>
							<label for="otros">
								<input type="checkbox" name="Otros" id="Otros"> Otros
							</label>
						</div>
						<div class="socialmedia">
							<div class="btn-redes"><a href="https://twitter.com/talentoMi" class="twitter-follow-button" data-show-count="false">Follow @talentoMi</a><script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script></div>
							<div class="btn-redes"><iframe src="https://www.facebook.com/plugins/like.php?href=https%3A%2F%2Fwww.facebook.com%2FMi-Talento-1886912491584512%2F&width=153&layout=button_count&action=like&size=small&show_faces=true&share=true&height=46&appId" width="153" height="25" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true"></iframe></div>
							<div class="g-plusone" data-annotation="inline" data-width="300"></div>
						</div>
					</div>
					<div class="texto">
						<label for="hablemos" class="hablemos">Hablemos</label>
						<textarea id="hablemos" class="hablemos" required="" name="hablemos" cols="30" rows="10"></textarea>
						<div class="derecha hablemos">	
							<input type="submit" value="Enviar" class="transicion">
						</div>
					</div>
				</form>
			</div>
		</footer>
		<div class="derechos">
			<h3> &copy;Copyright <span>Mi Talento</span>  2017 Todos los derechos reservados. <h3>
		</div>
		<script src="../js/jquery.min.js"></script>
		<script src="../js/jquery.lazyload.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/hammer.js/2.0.8/hammer.min.js"></script>
		<script src="https://apis.google.com/js/platform.js" async defer></script>
		<script src="../js/script.js"></script>
	</body>
</html>