<!DOCTYPE html>
<html>
	<head>
		<title>Nosotros - Mi talento</title>
		<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
			<meta charset="utf-8">
			<meta property="og:url" content="https://pedronelbuiles.github.io/Mitalento/views/nosotros.html"/>
			<meta property="og:type" content="article"/>
			<meta property="og:title" content="Nosotros! Mi talento! "/>
			<meta property="og:description" content="Conoce un poco de nosotros y cómo fue el nacimiento de Mi talento">
			<meta property="og:image" content="https://pedronelbuiles.github.io/Mitalento/img/nosotros.jpg">
			<link rel="shorcut icon" href="../img/logo_sin_fondo.png">
			<link rel="stylesheet" type="text/css" href="../css/mitalento.min.css">
	</head>
	<body>
		<div>
			<div class="caja">
				<header id="header" class="header contenedor_cabeza">
					<figure class="logo">
						<img src="../img/logo_sin_fondo.png" id="logo" width="80"  alt="Logo Mi Talento">
						<img src="../img/Mitalento.png" class="letra_logo">
					</figure>
					<span class="icon-menu btn-menu" id="btn-menu"></span>
					<nav class="menu">
						<ul id="menu">
							<li><a href="../index.html">Home</a></li>
							<li><a href="nosotros.html">Nosotros</a></li>
							<li><a href="blog.html">Blog</a></li>
							<li><a href="tienda.html">Tienda</a></li>
							<li><a href="donaciones.html">Donaciones</a></li>
							<li><a href="#footer">Contacto</a></li>
						</ul>
					</nav>
				</header>
			</div>
		<!-- contenido -->
		<div class="banner">
			<img src="../img/nosotros.jpg">
		</div>
		<section class="startup">
			<h1>Un poco de nosotros...</h1>
			<div class="parrafo1 parrafoHover">
				<h2>¿Mi talento?</h2>
				<p>Mi talento es una startup que busca ayudar a todas las personas que quieran o están interesadas en ganar dinero por Internet gracias a su talento. Pero no solo para ahí por qué creemos que el Internet se va a tomar gran parte de los trabajos que se realizan hoy en día; por lo que aquí también tocamos temas relacionados con el teletrabajo, el freelance y los diferentes modelos que se usan en Internet para ganar dinero.</p>
			</div>
			<div class="parrafo2 parrafoHover">
				<h2>¿Cómo nació la startup?</h2>
				<p>Cuando los empleos convencionales llegaron a la vida de unos jóvenes recién salidos de la universidad, estos estaban robando la vida, los sueños y las motivaciones de estos jóvenes; muchas promesas de la sociedad que no se cumplieron llevaron a estos jóvenes a buscar alternativas y entre ellas encontraron que Internet (algo familiar para ellos) daba oportunidades únicas y mucho mejores que la de sus empleos convencionales. Así es cómo uno de ellos los convence de entrar en este mundo de las ganancias por Internet, una cosa llevó a la otra y los jóvenes mejoraron sus vidas, sus sueños volvieron y estaban más motivados que nunca, pronto vieron el magnífico cambio que produjo su decisión y decidieron compartir estos conocimientos con el mundo. Justo así fue como nació Mi Talento.</p>
			</div>
			<div class="redesSociales">
				<h3>¡Animate a cambiar tu vida!</h3>
				<h4>Siguenos en nuestras redes sociales</h4>
				<div class="btnGrandes">
					<div class="btn-redes"><a href="https://twitter.com/talentoMi" class="twitter-follow-button" data-show-count="false">Follow @talentoMi</a><script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script></div>
					<div class="btn-redes">
						<div class="g-plusone" data-size="tall"></div>
					</div>
				</div>
				<div class="btn-redes espacioAbajo"><iframe src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2FMi-Talento-1886912491584512%2F&tabs=timeline&width=340&height=500&small_header=false&adapt_container_width=true&hide_cover=false&show_facepile=true&appId" width="340" height="500" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true"></iframe></div>
			</div>
		</section>
		<!-- footer -->
				<footer id="footer" class="footer">
			<div class="contenedor_footer">
				<div class="contacto">
					<img src="../img/sin_fondo.png" class="img_footer" width="120" height="130">
					<div class="orden">
						<div class="wapp"></div><a href="tel:+573008865375"><strong>Teléfono</strong><span>+(57) 300 886 5375</span></a>
						<a href="mailto:mitalentom@gmail.com"><strong>Email</strong><span>mitalentom@gmail.com</span></a>
					</div>
				</div>
				<form class="formulario" action="https://formspree.io/mitalentom@gmail.com" method="POST">
					<div class="col1">
						<label for="nombre"> Nombre</label>
						<input type="text" required id="nombre">
						<label for="email" > E-mail</label>
						<input type="email" required id="email">
						<div class="sexo">
							<label for="mujer">
								<input type="radio" name="sexo" value="mujer" checked id="mujer"> Mujer
							</label>
							<label for="hombre">
								<input type="radio" name="sexo" value="hombre" id="hombre"> Hombre
							</label>
						</div>
						<div class="interes">
							<label for="freelance">
								<input type="checkbox" name="freelance" checked id="freelance"> Quiero trabajar por Internet
							</label>
							<label for="comentarios">
								<input type="checkbox" name="comentarios" id="comentarios"> comentarios
							</label>
							<label for="talentos">
								<input type="checkbox" name="talentos" id="talentos"> Quiero aprocechar mi talento
							</label>
							<label for="otros">
								<input type="checkbox" name="Otros" id="Otros"> Otros
							</label>
						</div>
						<div class="socialmedia">
							<div class="btn-redes"><a href="https://twitter.com/talentoMi" class="twitter-follow-button" data-show-count="false">Follow @talentoMi</a><script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script></div>
							<div class="btn-redes"><iframe src="https://www.facebook.com/plugins/like.php?href=https%3A%2F%2Fwww.facebook.com%2FMi-Talento-1886912491584512%2F&width=153&layout=button_count&action=like&size=small&show_faces=true&share=true&height=46&appId" width="153" height="25" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true"></iframe></div>
							<div class="g-plusone" data-annotation="inline" data-width="300"></div>
						</div>
					</div>
					<div class="texto">
						<label for="hablemos" class="hablemos">Hablemos</label>
						<textarea id="hablemos" class="hablemos" required="" name="hablemos" cols="30" rows="10"></textarea>
						<div class="derecha hablemos">	
							<input type="submit" value="Enviar" class="transicion">
						</div>
					</div>
				</form>
			</div>
		</footer>
		<div class="derechos">
			<h3> &copy;Copyright <span>Mi Talento</span>  2017 Todos los derechos reservados. <h3>
		</div>
		<script src="../js/jquery.min.js"></script>
		<script src="../js/jquery.lazyload.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/hammer.js/2.0.8/hammer.min.js"></script>
		<script src="https://apis.google.com/js/platform.js" async defer></script>
		<script src="../js/script.js"></script>
	</body>
</html>