<!DOCTYPE html>
<html>
	<head>
		<title>Tienda - Mi talento</title>
		<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
			<meta charset="utf-8">
			<link rel="shorcut icon" href="../img/logo_sin_fondo.png">
			<link rel="stylesheet" type="text/css" href="../css/mitalento.min.css">
	</head>
	<body>
		<div>
			<div class="caja">
				<header id="header" class="header contenedor_cabeza">
					<figure class="logo">
						<img src="../img/logo_sin_fondo.png" id="logo" width="80"  alt="Logo Mi Talento">
						<img src="../img/Mitalento.png" class="letra_logo">
					</figure>
					<span class="icon-menu btn-menu" id="btn-menu"></span>
					<nav class="menu">
						<ul id="menu">
							<li><a href="../index.html">Home</a></li>
							<li><a href="nosotros.html">Nosotros</a></li>
							<li><a href="blog.html">Blog</a></li>
							<li><a href="tienda.html">Tienda</a></li>
							<li><a href="donaciones.html">Donaciones</a></li>
							<li><a href="#footer">Contacto</a></li>
						</ul>
					</nav>
				</header>
			</div>
		<!-- contenido -->
		<section class="advertencia">
			<img src="../img/bannerAdvertencia.jpg" class="fondoAdvertencia">
			<div class="textoAdvertencia">
				<p>
					<img src="../img/atencion.png" width="200" class="grandePequeno">
					<div class="mirame">
						<h1>¡Cuando pruebas nuestros productos...</h1>
						<h2>preguntarás por que no hay más!</h2>
					</div>
				</p>
			</div>
		</section>
		<section class="tienda">
			<div class="productos">
				<h3><a href="">Ebook</a><br><a href="">"Como emprender por Internet"</a></h3>
				<div class="precio">
					<p class="espacio_arriba">
						<a href="">$<span class="valor">20.000</span></a><br>
						<span class="moneda">Pesos Colombianos</span>
					</p>
					<p class="separador">ó</p>
					<p>
						<a href="">$<span class="valor">7</span> Usd</a>
					</p>
				</div>
				<div class="productDescription">
					<p class="cabezaProduct">Ebook que contiene todo lo necesario para comenzar a emprender en el cyber espacio, cuando leas esté ebook te vas a enojar por no haber comenzado aún. <br> En el ebook podras encontrar:</p>
					<ul>
						<li><span>Listas de las cosas que incluye</span></li>
						<li><span>Listas de las cosas que incluye</span></li>
						<li><span>Listas de las cosas que incluye</span></li>
					</ul>
				</div>
				<div class="compraYa">
					<div class="mediosDePago">
						<p>Medios de pago</p><div><img src="payu.jpg"><img src="paypal.jpg"><img src="logoBanco.jpg"></div>
					</div>
					<div class="btnCompra">
						<a href="#">Link de compra</a>
					</div>
				</div>
			</div>
			<div class="productos">
				<h3><a href="">Ebook</a><br><a href="">"Como emprender por Internet"</a></h3>
				<div class="precio">
					<p class="espacio_arriba">
						<a href="">$<span class="valor">20.000</span></a><br>
						<span class="moneda">Pesos Colombianos</span>
					</p>
					<p class="separador">ó</p>
					<p>
						<a href="">$<span class="valor">7</span> Usd</a>
					</p>
				</div>
				<div class="productDescription">
					<p class="cabezaProduct">Ebook que contiene todo lo necesario para comenzar a emprender en el cyber espacio, cuando leas esté ebook te vas a enojar por no haber comenzado aún. <br> En el ebook podras encontrar:</p>
					<ul>
						<li><span>Listas de las cosas que incluye</span></li>
						<li><span>Listas de las cosas que incluye</span></li>
						<li><span>Listas de las cosas que incluye</span></li>
					</ul>
				</div>
				<div class="compraYa">
					<div class="mediosDePago">
						<p>Medios de pago</p><div><img src="payu.jpg"><img src="paypal.jpg"><img src="logoBanco.jpg"></div>
					</div>
					<div class="btnCompra">
						<a href="#">Link de compra</a>
					</div>
				</div>
			</div>
			<div class="productos">
				<h3><a href="">Ebook</a><br><a href="">"Como emprender por Internet"</a></h3>
				<div class="precio">
					<p class="espacio_arriba">
						<a href="">$<span class="valor">20.000</span></a><br>
						<span class="moneda">Pesos Colombianos</span>
					</p>
					<p class="separador">ó</p>
					<p>
						<a href="">$<span class="valor">7</span> Usd</a>
					</p>
				</div>
				<div class="productDescription">
					<p class="cabezaProduct">Ebook que contiene todo lo necesario para comenzar a emprender en el cyber espacio, cuando leas esté ebook te vas a enojar por no haber comenzado aún. <br> En el ebook podras encontrar:</p>
					<ul>
						<li><span>Listas de las cosas que incluye</span></li>
						<li><span>Listas de las cosas que incluye</span></li>
						<li><span>Listas de las cosas que incluye</span></li>
					</ul>
				</div>
				<div class="compraYa">
					<div class="mediosDePago">
						<p>Medios de pago</p><div><img src="payu.jpg"><img src="paypal.jpg"><img src="logoBanco.jpg"></div>
					</div>
					<div class="btnCompra">
						<a href="#">Link de compra</a>
					</div>
				</div>
			</div>
		</section>
		<!-- footer -->
				<footer id="footer" class="footer">
			<div class="contenedor_footer">
				<div class="contacto">
					<img src="../img/sin_fondo.png" class="img_footer" width="120" height="130">
					<div class="orden">
						<a href="tel:+573008865375"><strong>Teléfono</strong><span>+(57) 300 886 5375</span></a>
						<a href="mailto:mitalentom@gmail.com"><strong>Email</strong><span>mitalentom@gmail.com</span></a>
					</div>
				</div>
				<form class="formulario">
					<div class="col1">
						<label for="nombre"> Nombre</label>
						<input type="text" required id="nombre">
						<label for="email" > E-mail</label>
						<input type="email" required id="email">
						<div class="sexo">
							<label for="mujer">
								<input type="radio" name="sexo" value="mujer" checked id="mujer"> Mujer
							</label>
							<label for="hombre">
								<input type="radio" name="sexo" value="hombre" id="hombre"> Hombre
							</label>
						</div>
						<div class="interes">
							<label for="freelance">
								<input type="checkbox" name="freelance" checked id="freelance"> Quiero trabajar por Internet
							</label>
							<label for="comentarios">
								<input type="checkbox" name="comentarios" id="comentarios"> comentarios
							</label>
							<label for="talentos">
								<input type="checkbox" name="talentos" id="talentos"> Quiero aprocechar mi talento
							</label>
							<label for="otros">
								<input type="checkbox" name="Otros" id="Otros"> Otros
							</label>
						</div>
					</div>
					<div class="texto">
						<label for="hablemos" class="hablemos">Hablemos</label>
						<textarea id="hablemos" class="hablemos" required="" name="hablemos" cols="30" rows="10"></textarea>
						<div class="derecha hablemos">	
							<input type="submit" value="Enviar" class="transicion">
						</div>
					</div>
				</form>
			</div>
		</footer>
		<div class="derechos">
			<h3> &copy;Copyright <span>Mi Talento</span>  2017 Todos los derechos reservados. <h3>
		</div>
		<script src="../js/jquery.min.js"></script>
		<script src="../js/jquery.lazyload.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/hammer.js/2.0.8/hammer.min.js"></script>
		<script src="../js/script.js"></script>
	</body>
</html>