<!DOCTYPE html>
<html>
	<head>
		<title>Tienda - Mi talento</title>
		<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
			<meta charset="utf-8">
			<link rel="shorcut icon" href="../../img/logo_sin_fondo.png">
			<link rel="stylesheet" type="text/css" href="../../css/mitalento.min.css">
	</head>
	<body>
		<div>
			<div class="caja">
				<header id="header" class="header contenedor_cabeza">
					<figure class="logo">
						<img src="../../img/logo_sin_fondo.png" id="logo" width="80"  alt="Logo Mi Talento">
						<img src="../../img/Mitalento.png" class="letra_logo">
					</figure>
					<span class="icon-menu btn-menu" id="btn-menu"></span>
					<nav class="menu">
						<ul id="menu">
							<li><a href="../../index.html">Home</a></li>
							<li><a href="../nosotros.html">Nosotros</a></li>
							<li><a href="../blog.html">Blog</a></li>
							<li><a href="../tienda.html">Tienda</a></li>
							<li><a href="../donaciones.html">Donaciones</a></li>
							<li><a href="#footer">Contacto</a></li>
						</ul>
					</nav>
				</header>
			</div>
		<!-- contenido -->
		<section class="advertencia">
			<img src="../../img/bannerAdvertencia.jpg" class="fondoAdvertencia">
			<div class="textoAdvertencia">
				<p>
					<img src="../../img/atencion.png" width="200" class="grandePequeno">
					<div class="mirame">
						<h1>¡Cuando pruebas nuestros productos...</h1>
						<h2>preguntarás por que no hay más!</h2>
					</div>
				</p>
			</div>
		</section>
		<section class="dona">
			<div class="alMedio">
				<h3>Escoje el medio de pago para comprar la asesoria:</h3>
			</div>
			<div class="medios">
				<div class="productos">
					<figure class="banco"><img src="../../img/paypal.png" width="100"></figure>
					<div class="verMas">
						<h4>En Paypal puedes hacer una donación mensual.</h4>
						<h5>Realiza donaciones desde cualquier parte del mundo</h5>
						<div class="centro">
							<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
								<input type="hidden" name="cmd" value="_s-xclick">
								<input type="hidden" name="hosted_button_id" value="ZFG7SKY5YUAQC">
								<input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_buynowCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
								<img alt="" border="0" src="https://www.paypalobjects.com/es_XC/i/scr/pixel.gif" width="1" height="1">
							</form>
						</div>
					</div>
				</div>
				<div class="productos">
					<figure class="banco"><img src="../../img/payu.png" width="100"></figure>
					<div class="verMas">
						<h4>En PayU puedes ralizar donaciones unicas</h4>
						<h5>Solo valido para Colombia, por un valor de 20.000 pesos</h5>
						<div class="payu">
							<form method="post" action="https://gateway.payulatam.com/ppp-web-gateway/pb.zul" accept-charset="UTF-8">
			  					<input type="image" border="0" alt="" src="http://www.payulatam.com/img-secure-2015/boton_pagar_mediano.png" onClick="this.form.urlOrigen.value = window.location.href;"/>
			  					<input name="buttonId" type="hidden" value="TDGKiOkprwNgWPaGOeVF7smlqkCi6LJRN2MfJ/byWsaaAGXIXCoJEA=="/>
			  					<input name="merchantId" type="hidden" value="639078"/>
			  					<input name="accountId" type="hidden" value="641444"/>
			  					<input name="description" type="hidden" value="Asesoria"/>
			  					<input name="referenceCode" type="hidden" value="902"/>
			  					<input name="amount" type="hidden" value="60000"/>
			  					<input name="tax" type="hidden" value="0"/>
			  					<input name="taxReturnBase" type="hidden" value="0"/>
			  					<input name="currency" type="hidden" value="COP"/>
			  					<input name="lng" type="hidden" value="es"/>
			  					<input name="approvedResponseUrl" type="hidden" value="https://www.facebook.com/Mi-Talento-1886912491584512/"/>
			  					<input name="declinedResponseUrl" type="hidden" value="https://www.facebook.com/Mi-Talento-1886912491584512/"/>
			  					<input name="pendingResponseUrl" type="hidden" value="https://www.facebook.com/Mi-Talento-1886912491584512/"/>
			  					<input name="displayShippingInformation" type="hidden" value="YES"/>
			  					<input name="displayBuyerComments" type="hidden" value="true"/>
			  					<input name="buyerCommentsLabel" type="hidden" value="es:Por favor excribe tus datos de contacto.|en:Please write your email and facebook profile."/>
			  					<input name="sourceUrl" id="urlOrigen" value="" type="hidden"/>
			  					<input name="buttonType" value="SIMPLE" type="hidden"/>
			  					<input name="signature" value="3bf8922557fe00188d8a56bf80fa25edd2c201de9df12e64e738319252a889c3" type="hidden"/>
							</form>
						</div>
					</div>
				</div>
				<div class="productos">
					<figure class="banco"><img src="../../img/donacion_banco.png" width="50"></figure>
					<div class="verMas">
						<h4>Deposito bancario</h4>
						<h5>Puedes hacer un deposito bancario o un giro.</h5>
					</div>
					<div class="imgBanco"><img src="../../img/bbva.jpg" width="100"></div>
					<h5><span>Cuenta de ahorros número: 558-515912</span></h5>
					<h5>Pedro Builes c.c. 1017228837</h5>
					<div class="imgBanco"><img src="../../img/logodavi.png" width="100"></div>
					<h5>Número daviplata</h5>
					<h5>300 886 5375</h5>
					<h5>Importante!</h5>
					<h5>Reporta tu pago enviando un correo a:</h5>
					<h5>mitalentom@gmail.com</h5>
					<h5>Con tus datos personales y los comprovantes de pago.</h5>
				</div>
			</div>
		</section>
		<!-- footer -->
				<footer id="footer" class="footer">
			<div class="contenedor_footer">
				<div class="contacto">
					<img src="../../img/sin_fondo.png" class="img_footer" width="120" height="130">
					<div class="orden">
						<div class="wapp"></div><a href="tel:+573008865375"><strong>Teléfono</strong><span>+(57) 300 886 5375</span></a>
						<a href="mailto:mitalentom@gmail.com"><strong>Email</strong><span>mitalentom@gmail.com</span></a>
					</div>
				</div>
				<form class="formulario" action="https://formspree.io/mitalentom@gmail.com" method="POST">
					<div class="col1">
						<label for="nombre"> Nombre</label>
						<input type="text" required id="nombre">
						<label for="email" > E-mail</label>
						<input type="email" required id="email">
						<div class="sexo">
							<label for="mujer">
								<input type="radio" name="sexo" value="mujer" checked id="mujer"> Mujer
							</label>
							<label for="hombre">
								<input type="radio" name="sexo" value="hombre" id="hombre"> Hombre
							</label>
						</div>
						<div class="interes">
							<label for="freelance">
								<input type="checkbox" name="freelance" checked id="freelance"> Quiero trabajar por Internet
							</label>
							<label for="comentarios">
								<input type="checkbox" name="comentarios" id="comentarios"> comentarios
							</label>
							<label for="talentos">
								<input type="checkbox" name="talentos" id="talentos"> Quiero aprocechar mi talento
							</label>
							<label for="otros">
								<input type="checkbox" name="Otros" id="Otros"> Otros
							</label>
						</div>
						<div class="socialmedia">
							<div class="btn-redes"><a href="https://twitter.com/talentoMi" class="twitter-follow-button" data-show-count="false">Follow @talentoMi</a><script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script></div>
							<div class="btn-redes"><iframe src="https://www.facebook.com/plugins/like.php?href=https%3A%2F%2Fwww.facebook.com%2FMi-Talento-1886912491584512%2F&width=153&layout=button_count&action=like&size=small&show_faces=true&share=true&height=46&appId" width="153" height="25" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true"></iframe></div>
							<div class="g-plusone" data-annotation="inline" data-width="300"></div>
						</div>
					</div>
					<div class="texto">
						<label for="hablemos" class="hablemos">Hablemos</label>
						<textarea id="hablemos" class="hablemos" required="" name="hablemos" cols="30" rows="10"></textarea>
						<div class="derecha hablemos">	
							<input type="submit" value="Enviar" class="transicion">
						</div>
					</div>
				</form>
			</div>
		</footer>
		<div class="derechos">
			<h3> &copy;Copyright <span>Mi Talento</span>  2017 Todos los derechos reservados. <h3>
		</div>
		<script src="../../js/jquery.min.js"></script>
		<script src="../../js/jquery.lazyload.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/hammer.js/2.0.8/hammer.min.js"></script>
		<script src="https://apis.google.com/js/platform.js" async defer></script>
		<script src="../../js/script.js"></script>
	</body>
</html>