<!DOCTYPE html>
<html>
	<head>
		<title>¿Cómo hacer mi propio producto o servicio?</title>
		<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
		<meta charset="utf-8">
		<meta property="og:url" content="https://pedronelbuiles.github.io/Mitalento/views/blog/crearProductoOServicio.html"/>
		<meta property="og:type" content="article"/>
		<meta property="og:title" content="¿Cómo hacer mi propio producto o servicio?"/>
		<meta property="og:description" content="A veces puede ser dificil crear un producto o servicio pero en Mi telnto te ayudamos">
		<meta property="og:image" content="https://pedronelbuiles.github.io/Mitalento/img/pensando.jpg">
		<link rel="shorcut icon" href="../../img/logo_sin_fondo.png">
		<link rel="stylesheet" type="text/css" href="../../css/mitalento.css">
	</head>
	<body>
		<div>
			<div class="caja">
				<header id="header" class="header contenedor_cabeza">
					<figure class="logo">
						<img src="../../img/logo_sin_fondo.png" id="logo" width="80"  alt="Logo Mi Talento">
						<img src="../../img/Mitalento.png" class="letra_logo">
					</figure>
					<span class="icon-menu btn-menu" id="btn-menu"></span>
					<nav class="menu">
						<ul id="menu">
							<li><a href="../../index.html">Home</a></li>
							<li><a href="../nosotros.html">Nosotros</a></li>
							<li><a href="../blog.html">Blog</a></li>
							<li><a href="../tienda.html">Tienda</a></li>
							<li><a href="../donaciones.html">Donaciones</a></li>
							<li><a href="#footer">Contacto</a></li>
						</ul>
					</nav>
				</header>
			</div>
			<!-- contenido -->
			<section>
				<div class="imgPrinci">
					<img src="../../img/pensando.jpg" style="top: -66px;">
					<div class="Titulo">
						<h1 class="fondoNegro">¿Cómo hacer mi propio producto o servicio?</h1>
					</div>
				</div>
				<div class="cuerpo">
					<h2 class="titulo-c alcentro">¿Cómo hacer mi propio producto o servicio?</h2>
					<div class="parrafoBlog">
						<br>
						<p>Crear o hacer algo de la nada siempre puede resultar aterrador si no conocemos el proceso adecuado, y por lo general no se conoce, si lo conocieras no estarías leyendo este blog, por lo que te comprendemos y queremos ayudarte a que crees los mejores productos o servicios, y de esta manera poder ganar dinero por Internet. Si tienes una idea en la mente NO quiero que la subestimes, pero SI quiero que seas muy crítico con ella y la realices solo en el momento que estás convencido que esa idea es la mejor o por lo menos la puedes mejorar para ser la mejor.</p>
					</div>
					<h3 class="titulo-f alcentro">Demanda.</h3>
					<div class="parrafoBlog">
						<p>Vamos a garantizar que tu producto o servicio tenga demanda, por lo que vamos a buscar si el producto o servicio genera interés en las personas, esto es más fácil de lo que te imaginas, no debes preguntarle a las personas si comprarían o no determinado producto o servicio en su lugar hagamos algo más inteligente; pensemos somos más de 7 mil millones de personas en el planeta, ¿crees que eres el único al que se le ocurrió esa maravillosa idea que ganara millones de dólares? </p>
						<p>Lo siento si destruyo tus sueños pero las ideas que tenemos muy posiblemente las ha tenido otra persona en otro lugar del mundo, pero no te equivoques eso no es algo malo, por el contrario es muy bueno porque si esa persona ya ha tenido éxito con esa idea, entonces tu con toda tu pasión, disciplina y determinación puedes mejorarla y ganar mucho más que él.</p>
						<p>Quiero que definas tu producto o servicio, ¿cómo es? ¿qué nombre le pondría? ¿cómo funciona? Algo muy importante ¿Qué necesidad satisface? y a partir de aquí busques productos o servicios similares por Internet, escribe ¿porque crees que tienen éxito? y ¿cómo crees que puedes diferenciarte de ellos? ¿qué tan escalable es su idea en comparación con la tuya?</p>
					</div>
					<h3 class="titulo-f alcentro">Ideas de mejoramiento.</h3>
					<div class="parrafoBlog">
						<p>Para poder mejorar tu producto o servicio en relación con el de los demás queremos darte unas ayudas. </p>
					</div>
					<h3 class="subTitulo">Relaciona tu producto o servicio con tus talento y habilidades.</h3>
					<div class="parrafoBlog">
						<p>Cuales son tus talentos y habilidades, piensa en cómo con ellos puedes aportar al producto o servicio, haz una lluvia de ideas de las diferentes formas en cómo lo harías, no importa si crees que son ideas estúpidas concéntrate en copiarlas despues tendras tiempo de evaluarlas y escoger las mejores estrategias.</p>
					</div>
					<h3 class="subTitulo">Piensa cómo tus clientes.</h3>
					<div class="parrafoBlog">
						<p>Ponte en el lugar de las personas que están dispuestas a pagar por el producto o servicio, cómo crees que ellas se pueden beneficiar más. Debes tener muy presente que ellos están buscando algo, encuentralo, ahí está su necesidad y nuestro valor agregado.</p>
					</div>
					<h3 class="subTitulo">Define tu nicho.</h3>
					<div class="parrafoBlog">
						<p>Por muchas razones debes saber que tu producto o servicio no es para todo el mundo por lo que saber cual es tu nicho de mercado te ayudará a saber cómo hacer tu producto o mejorar uno ya existente, entonces pregúntate ¿a quién está dirigido mi producto o servicio? para quien NO es mi producto o servicio y por qué. </p>
					</div>
					<h3 class="subTitulo">Embudo de ventas.</h3>
					<div class="parrafoBlog">
						<p>Ha esto me gustaría dedicarle un blog completo y si puedo más mejor, porque es muy, pero muy importante, en serio, no saben lo importante que es. Debes saber que tu producto o servicio va a llegar a muchas pero muchas personas, pero que solo unas cuantas van a consumirlo y otra parte más pequeña va a fidelizarse o comprar productos mucho más costosos y especializados. </p>
					</div>
					<h3 class="subTitulo">Tu cliente ideal.</h3>
					<div class="parrafoBlog">
						<p>Imagínate una persona la cual tu producto le caería como anillo al dedo, que lo consumiría sin chistar, que le guste tanto que lo recomiende a sus seres queridos y allegados; esa persona existe y no solo es una son muchas, pero debes conocerla muy bien, debes poder visualizarlo perfectamente, saber qué siente, cuándo y cómo.</p>
					</div>
					<br>
					<div class="parrafoBlog">
						<p>Recuerda que crear un producto o servicio no siempre se logrará a la primera por lo que debes siempre estar abierto a los comentarios o feedback que las personas hagan a tu producto, no te confíes de las personas pero si tenlos en cuenta para que tú hagas las conclusiones y puedas saber cómo mejorar tu producto o servicio.</p>
						<p>Si en algún momento necesitas ayuda con tus productos o servicios, recuerda que en Mi talento estamos para ayudarte, no dudes en ir a la tienda y comprar la asesoría si la necesitas para que te ayudemos a crear o mejorar tus productos o servicios y así puedas generar más dinero por Internet ayudando a los demás.</p>
					</div>
				</div>
			</section>
			<!--contenido-->
			<!-- footer -->
				<footer id="footer" class="footer">
			<div class="contenedor_footer">
				<div class="contacto">
					<img data-original="../../img/sin_fondo.png" class="img_footer lazy" width="120" height="130">
					<div class="orden">
						<div class="wapp"></div><a href="tel:+573008865375"><strong>Teléfono</strong><span>+(57) 300 886 5375</span></a>
						<a href="mailto:mitalentom@gmail.com"><strong>Email</strong><span>mitalentom@gmail.com</span></a>
					</div>
				</div>
				<form class="formulario">
					<div class="col1">
						<label for="nombre"> Nombre</label>
						<input type="text" required id="nombre">
						<label for="email" > E-mail</label>
						<input type="email" required id="email">
						<div class="sexo">
							<label for="mujer">
								<input type="radio" name="sexo" value="mujer" checked id="mujer"> Mujer
							</label>
							<label for="hombre">
								<input type="radio" name="sexo" value="hombre" id="hombre"> Hombre
							</label>
						</div>
						<div class="interes">
							<label for="freelance">
								<input type="checkbox" name="freelance" checked id="freelance"> Quiero trabajar por Internet
							</label>
							<label for="comentarios">
								<input type="checkbox" name="comentarios" id="comentarios"> comentarios
							</label>
							<label for="talentos">
								<input type="checkbox" name="talentos" id="talentos"> Quiero aprocechar mi talento
							</label>
							<label for="otros">
								<input type="checkbox" name="Otros" id="Otros"> Otros
							</label>
						</div>
						<div class="socialmedia">
							<div class="btn-redes"><a href="https://twitter.com/talentoMi" class="twitter-follow-button" data-show-count="false">Follow @talentoMi</a><script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script></div>
							<div class="btn-redes"><iframe src="https://www.facebook.com/plugins/like.php?href=https%3A%2F%2Fwww.facebook.com%2FMi-Talento-1886912491584512%2F&width=153&layout=button_count&action=like&size=small&show_faces=true&share=true&height=46&appId" width="153" height="25" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true"></iframe></div>
							<div class="g-plusone" data-annotation="inline" data-width="300"></div>
						</div>
					</div>
					<div class="texto">
						<label for="hablemos" class="hablemos">Hablemos</label>
						<textarea id="hablemos" class="hablemos" required="" name="hablemos" cols="30" rows="10"></textarea>
						<div class="derecha hablemos">	
							<input type="submit" value="Enviar" class="transicion">
						</div>
					</div>
				</form>
			</div>
		</footer>
		<div class="derechos">
			<h3> &copy;Copyright <span>Mi Talento</span>  2017 Todos los derechos reservados. <h3>
		</div>
		<script src="../../js/jquery.min.js"></script>
		<script src="../../js/jquery.lazyload.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/hammer.js/2.0.8/hammer.min.js"></script>
		<script src="https://apis.google.com/js/platform.js" async defer></script>
		<script src="../../js/script.js"></script>
	</body>
</html>	