<!DOCTYPE html>
<html>
	<head>
		<title>Elegir productos o servicios de afiliado.</title>
		<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
		<meta charset="utf-8">
		<meta property="og:url" content="https://pedronelbuiles.github.io/Mitalento/views/blog/elegirProductosAfiliados.html"/>
		<meta property="og:type" content="article"/>
		<meta property="og:title" content="Elegir productos o servicios de afiliado."/>
		<meta property="og:description" content="Decidir que producto o servicio promocionar para vender por Internet no es tarea fácil, en Mi talento te ayudamos.">
		<meta property="og:image" content="https://pedronelbuiles.github.io/Mitalento/img/affiliateNetworks.png">
		<link rel="shorcut icon" href="../../img/logo_sin_fondo.png">
		<link rel="stylesheet" type="text/css" href="../../css/mitalento.min.css">
	</head>
	<body>
		<div>
			<div class="caja">
				<header id="header" class="header contenedor_cabeza">
					<figure class="logo">
						<img src="../../img/logo_sin_fondo.png" id="logo" width="80"  alt="Logo Mi Talento">
						<img src="../../img/Mitalento.png" class="letra_logo">
					</figure>
					<span class="icon-menu btn-menu" id="btn-menu"></span>
					<nav class="menu">
						<ul id="menu">
							<li><a href="../../index.html">Home</a></li>
							<li><a href="../nosotros.html">Nosotros</a></li>
							<li><a href="../blog.html">Blog</a></li>
							<li><a href="../tienda.html">Tienda</a></li>
							<li><a href="../donaciones.html">Donaciones</a></li>
							<li><a href="#footer">Contacto</a></li>
						</ul>
					</nav>
				</header>
			</div>
			<!-- contenido -->
			<section>
				<div class="imgPrinci">
					<img src="../../img/affiliateNetworks.png" style="top: 0;">
					<div class="Titulo">
						<h1 class="fondoAmarillo">Elegir productos o servicios de afiliado.</h1>
					</div>
				</div>
				<div class="cuerpo">
					<h2 class="titulo-c alcentro">Elegir productos o servicios de afiliado.</h2>
					<div class="parrafoBlog">
						<br>
						<p>Cuando vamos a elegir que producto o servicio vamos a promocionar por la web, debemos ser muy críticos con nuestra elección para que no decaer en nuestro proyecto. Vamos a hablar de algunos puntos que debes tener en cuenta para escoger el mejor producto o servicio relacionado con nuestros talentos y habilidades, de esta manera garantizamos primero que el producto o servicio este relacionado con nosotros y segundo comenzar con el pie derecho nuestro proyecto.</p>
					</div>
					<h3 class="subTitulo">¿Conoces el producto o servicio?</h3>
					<div class="parrafoBlog">
						<p>Repetimos, ¿conoces el producto o servicio?  ¿Lo has consumido? ¿Lo has probado? Esto es muy importante, debido a que no podremos hablar de la mejor forma, si no sabemos o conocemos los beneficios que brindan estos productos o servicios. S te interesa un producto o servicio antes de decidir promocionarlo, consúmelo, pruébalo y después habla de las cosas que te gustaron a ti, convence con tus ideas y tus conocimientos de los productos o servicios.</p>
					</div>
					<h3 class="subTitulo">¿Conoces personas a las que le es útil?</h3>
					<div class="parrafoBlog">
						<p>Busca en tu círculo social ¿quién tiene la necesidad que satisface el producto o servicio? Habla primero con él y has las preguntas correctas, no le vendas aún solo coméntale la idea; si vez que su actitud demuestra mucho interés, es muy posible que si le ofreces el producto o servicio en una próxima ocasión, tengas una venta segura. Este es un consejo que se puede utilizar para estudiar prospectos igualmente.</p>
					</div>
					<h3 class="subTitulo">¿Estás cómodo con el porcentaje de comisión?</h3>
					<div class="parrafoBlog">
						<p>Esta es la pregunta más importante, debido a que no te va a gustar si te esfuerzas mucho por una comisión baja. Recuerda que como no puedes modificar los valores de ganancia ni tampoco podrás mejorar los productos o servicios para ganar una comisión más alta, debes estar cómodo con el trato con la empresa, si para ti es un buen trato hazlo, si no continúa buscando.</p>
					</div>
					<h3 class="subTitulo">¿Tienes experiencia con productos o servicios similares?</h3>
					<div class="parrafoBlog">
						<p>Te va a ayudar mucho si ya tienes ideas de cómo ofrecer y vender productos o servicios similares, no solo se trata de que te guste y que te prometan mucho dinero, tener seguridad en que conoces los procesos, que conoces la forma para desenvolverte y los posibles objeciones que tienen los clientes, eso representa una ventaja competitiva frente a tus rivales.</p>
					</div>
					<h3 class="subTitulo">¿Tus talentos y habilidades están relacionados?</h3>
					<div class="parrafoBlog">
						<p>Como en todo si tus talentos y habilidades se pueden potenciar con los productos y servicios escogelo, porque te va a gustar, además te va a ayudar para mejorar tus talentos y habilidades; siempre busca que lo que hagas, sea lo que sea, siempre mejore o desarrolle sus talentos y habilidades. Recuerda que como no puedes decidir si este producto o servicio se va a vender por toda la vida, entonces debes saber que tus talentos y habilidades son tu mejor opción.</p>
					</div>
					<h3 class="subTitulo">Investiga la empresa</h3>
					<div class="parrafoBlog">
						<p>Cómo todo en la vida se basa en la información que tenemos sobre los demás y para las empresas también aplica, busca en sus redes sociales, envíale correos, habla con ellos demuestra tu interés, si ellos también muestran su interés, esa, esa es una buena empresa.</p>
					</div>
					<br>
					<div class="parrafoBlog">
						<p>En Mi talento queremos que siempre estés cómodo con las decisiones que tomas, entonces si estas con dudas sobre algún producto o servicio dejanoslo saber, nosotros podemos investigar por ti y darte una asesoría sobre él. Recuerda ve a la tienda compra la asesoría y resuelve tus dudas, de la mano con Mi talento.</p>
					</div>
				</div>
			</section>
			<!--contenido-->
			<!-- footer -->
				<footer id="footer" class="footer">
			<div class="contenedor_footer">
				<div class="contacto">
					<img data-original="../../img/sin_fondo.png" class="img_footer lazy" width="120" height="130">
					<div class="orden">
						<div class="wapp"></div><a href="tel:+573008865375"><strong>Teléfono</strong><span>+(57) 300 886 5375</span></a>
						<a href="mailto:mitalentom@gmail.com"><strong>Email</strong><span>mitalentom@gmail.com</span></a>
					</div>
				</div>
				<form class="formulario">
					<div class="col1">
						<label for="nombre"> Nombre</label>
						<input type="text" required id="nombre">
						<label for="email" > E-mail</label>
						<input type="email" required id="email">
						<div class="sexo">
							<label for="mujer">
								<input type="radio" name="sexo" value="mujer" checked id="mujer"> Mujer
							</label>
							<label for="hombre">
								<input type="radio" name="sexo" value="hombre" id="hombre"> Hombre
							</label>
						</div>
						<div class="interes">
							<label for="freelance">
								<input type="checkbox" name="freelance" checked id="freelance"> Quiero trabajar por Internet
							</label>
							<label for="comentarios">
								<input type="checkbox" name="comentarios" id="comentarios"> comentarios
							</label>
							<label for="talentos">
								<input type="checkbox" name="talentos" id="talentos"> Quiero aprocechar mi talento
							</label>
							<label for="otros">
								<input type="checkbox" name="Otros" id="Otros"> Otros
							</label>
						</div>
						<div class="socialmedia">
							<div class="btn-redes"><a href="https://twitter.com/talentoMi" class="twitter-follow-button" data-show-count="false">Follow @talentoMi</a><script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script></div>
							<div class="btn-redes"><iframe src="https://www.facebook.com/plugins/like.php?href=https%3A%2F%2Fwww.facebook.com%2FMi-Talento-1886912491584512%2F&width=153&layout=button_count&action=like&size=small&show_faces=true&share=true&height=46&appId" width="153" height="25" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true"></iframe></div>
							<div class="g-plusone" data-annotation="inline" data-width="300"></div>
						</div>
					</div>
					<div class="texto">
						<label for="hablemos" class="hablemos">Hablemos</label>
						<textarea id="hablemos" class="hablemos" required="" name="hablemos" cols="30" rows="10"></textarea>
						<div class="derecha hablemos">	
							<input type="submit" value="Enviar" class="transicion">
						</div>
					</div>
				</form>
			</div>
		</footer>
		<div class="derechos">
			<h3> &copy;Copyright <span>Mi Talento</span>  2017 Todos los derechos reservados. <h3>
		</div>
		<script src="../../js/jquery.min.js"></script>
		<script src="../../js/jquery.lazyload.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/hammer.js/2.0.8/hammer.min.js"></script>
		<script src="https://apis.google.com/js/platform.js" async defer></script>
		<script src="../../js/script.js"></script>
	</body>
</html>	