<!DOCTYPE html>
<html>
	<head>
		<title>Los profesionales evalúan</title>
		<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
		<meta charset="utf-8">
		<meta property="og:url" content="https://pedronelbuiles.github.io/Mitalento/views/blog/introduccionEmprendiendo.html"/>
		<meta property="og:type" content="article"/>
		<meta property="og:title" content="Los profesionales evaluan"/>
		<meta property="og:description" content="Lo que diferencia a los profesionales de los novatos son las prácticas que realizan, mira las practicas que te llevarán a ser un profesional.">
		<meta property="og:image" content="https://pedronelbuiles.github.io/Mitalento/img/embudoDeVentas.png">
		<link rel="shorcut icon" href="../../img/logo_sin_fondo.png">
		<link rel="stylesheet" type="text/css" href="../../css/mitalento.min.css">
	</head>
	<body>
		<div>
			<div class="caja">
				<header id="header" class="header contenedor_cabeza">
					<figure class="logo">
						<img src="../../img/logo_sin_fondo.png" id="logo" width="80"  alt="Logo Mi Talento">
						<img src="../../img/Mitalento.png" class="letra_logo">
					</figure>
					<span class="icon-menu btn-menu" id="btn-menu"></span>
					<nav class="menu">
						<ul id="menu">
							<li><a href="../../index.html">Home</a></li>
							<li><a href="../nosotros.html">Nosotros</a></li>
							<li><a href="../blog.html">Blog</a></li>
							<li><a href="../tienda.html">Tienda</a></li>
							<li><a href="../donaciones.html">Donaciones</a></li>
							<li><a href="#footer">Contacto</a></li>
						</ul>
					</nav>
				</header>
			</div>
			<!-- contenido -->
			<section>
				<div class="imgPrinci">
					<img src="../../img/embudoDeVentas.png">
					<div class="Titulo">
						<h1 class="fondoBlanco">Los profesionales evalúan.</h1>
					</div>
				</div>
				<div class="cuerpo">
					<h2 class="titulo-c">Los profesionales evalúan</h2>
					<p class="primerHijo">Las plataformas sirven para dos cosas, la primera es darte a conocer como teletrabajador y la segunda es permitirle a los contratantes publicar sus ofertas, esto con la finalidad de que los teletrabajadores hagan sus ofertas y ellos poder elegir el que mejor se acomode a sus necesidades y a las del negocio. Aqui vamos a hablar un poco de las ofertas y que hacer antes de realizar una propuesta.</p>
					<h3 class="titulo-f">Evaluando la oferta.</h3>
					<p>En qué piensas cuando lees "la oferta perfecta" ¿pocas horas y mucho dinero? ¿Justo el trabajo que disfrutas? ¿Algo sencillo? Si la respuesta a alguna de esas preguntas es afirmativa, demuestra que eres un novato. Hablar de la "oferta perfecta" es algo muy complejo porque depende de algunos factores como la redacción de la oferta, la cantidad de otros freelancers que responden a la publicación, incluso el cliente influye demasiado en una buena o una mala propuesta.</p>
					<p>Cuando hablamos de la redacción de la propuesta, nos referimos a que tan detallada es la propuesta, explica con claridad de que trata el trabajo, con que clase de teletrabajador le gustara trabajar, incluso que se espera del teletrabajador y del trabajo.</p>
					<h3 class="titulo-f">Evaluando al cliente.</h3>
					<p>Este paso es el que diferencia a los profesionales de los novatos. Voy a preguntarte algo si los clientes evalúan a sus posibles teletrabajadores ¿porque tu no puedes evaluar a los clientes? Lo más justo es que puedas evaluar a los clientes con los que quieres trabajar y escojas a los que mejor se acomoden a tus talentos, habilidades y aspiraciones.</p>
					<p>Las plataformas facilitan el proceso de evaluación tanto para teletrabajadores como para clientes, los clientes pueden calificar a los teletrabajadores y a su vez los teletrabajadores pueden calificar a sus clientes, es en esto que nos basamos para escoger a el cliente con el que queremos trabajar.</p>
					<p>Los puntos importantes que trataremos comienzan con verificar las calificaciones de los anteriores teletrabajadores y como califica el a sus teletrabajadores, en caso de que sea nuevo, nos fijamos en si tiene el medio de pago verificado. Lo siguiente es observar cuánto trabajos tiene completados, esto es muy importante, debido a que gracias a ello concluimos si tiene un buen karma pagando a sus teletrabajadores y si es un cliente que influencia a los teletrabajadores para que realicen los trabajos por fuera de las plataformas, esta práctica no es recomendada, porque en la mayoría de los casos se trata de estafas y existe la posibilidad de que la plataforma o plataformas que usas no permiten está práctica, y por ende si te descubre haciéndolo tu cuenta va a ser baneada es decir cerrada, despidiendote de tu perfil tus calificaciones y tu reputación.</p>
				</div>
				<div>
					<a href="../trabajandoPorInternet.html" style="color: black; margin-left: 165px;"> Atrás</a>
				</div>
			</section>
			<!--contenido-->
			<!-- footer -->
				<footer id="footer" class="footer">
			<div class="contenedor_footer">
				<div class="contacto">
					<img data-original="../../img/sin_fondo.png" class="img_footer lazy" width="120" height="130">
					<div class="orden">
						<div class="wapp"></div><a href="tel:+573008865375"><strong>Teléfono</strong><span>+(57) 300 886 5375</span></a>
						<a href="mailto:mitalentom@gmail.com"><strong>Email</strong><span>mitalentom@gmail.com</span></a>
					</div>
				</div>
				<form class="formulario" action="https://formspree.io/mitalentom@gmail.com" method="POST">
					<div class="col1">
						<label for="nombre"> Nombre</label>
						<input type="text" required id="nombre">
						<label for="email" > E-mail</label>
						<input type="email" required id="email">
						<div class="sexo">
							<label for="mujer">
								<input type="radio" name="sexo" value="mujer" checked id="mujer"> Mujer
							</label>
							<label for="hombre">
								<input type="radio" name="sexo" value="hombre" id="hombre"> Hombre
							</label>
						</div>
						<div class="interes">
							<label for="freelance">
								<input type="checkbox" name="freelance" checked id="freelance"> Quiero trabajar por Internet
							</label>
							<label for="comentarios">
								<input type="checkbox" name="comentarios" id="comentarios"> comentarios
							</label>
							<label for="talentos">
								<input type="checkbox" name="talentos" id="talentos"> Quiero aprocechar mi talento
							</label>
							<label for="otros">
								<input type="checkbox" name="Otros" id="Otros"> Otros
							</label>
						</div>
						<div class="socialmedia">
							<div class="btn-redes"><a href="https://twitter.com/talentoMi" class="twitter-follow-button" data-show-count="false">Follow @talentoMi</a><script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script></div>
							<div class="btn-redes"><iframe src="https://www.facebook.com/plugins/like.php?href=https%3A%2F%2Fwww.facebook.com%2FMi-Talento-1886912491584512%2F&width=153&layout=button_count&action=like&size=small&show_faces=true&share=true&height=46&appId" width="153" height="25" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true"></iframe></div>
							<div class="g-plusone" data-annotation="inline" data-width="300"></div>
						</div>
					</div>
					<div class="texto">
						<label for="hablemos" class="hablemos">Hablemos</label>
						<textarea id="hablemos" class="hablemos" required="" name="hablemos" cols="30" rows="10"></textarea>
						<div class="derecha hablemos">	
							<input type="submit" value="Enviar" class="transicion">
						</div>
					</div>
				</form>
			</div>
		</footer>
		<div class="derechos">
			<h3> &copy;Copyright <span>Mi Talento</span>  2017 Todos los derechos reservados. <h3>
		</div>
		<script src="../../js/jquery.min.js"></script>
		<script src="../../js/jquery.lazyload.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/hammer.js/2.0.8/hammer.min.js"></script>
		<script src="https://apis.google.com/js/platform.js" async defer></script>
		<script src="../../js/script.js"></script>
	</body>
</html>	