<!DOCTYPE html>
<html>
	<head>
		<title>Generar ingresos por Internet</title>
		<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
		<meta charset="utf-8">
		<meta property="og:url" content="https://pedronelbuiles.github.io/Mitalento/views/blog/generarIngresosPorInternet.html"/>
		<meta property="og:type" content="article"/>
		<meta property="og:title" content="Generar ingresos por Internet"/>
		<meta property="og:description" content="¿Quieres generar ingresos por Interent? Es relativamente sencillo ven y aprende más con Mi talento">
		<meta property="og:image" content="https://pedronelbuiles.github.io/Mitalento/img/moneyonline.jpg">
		<link rel="shorcut icon" href="../../img/logo_sin_fondo.png">
		<link rel="stylesheet" type="text/css" href="../../css/mitalento.min.css">
	</head>
	<body>
		<div>
			<div class="caja">
				<header id="header" class="header contenedor_cabeza">
					<figure class="logo">
						<img src="../../img/logo_sin_fondo.png" id="logo" width="80"  alt="Logo Mi Talento">
						<img src="../../img/Mitalento.png" class="letra_logo">
					</figure>
					<span class="icon-menu btn-menu" id="btn-menu"></span>
					<nav class="menu">
						<ul id="menu">
							<li><a href="../../index.html">Home</a></li>
							<li><a href="../nosotros.html">Nosotros</a></li>
							<li><a href="../blog.html">Blog</a></li>
							<li><a href="../tienda.html">Tienda</a></li>
							<li><a href="../donaciones.html">Donaciones</a></li>
							<li><a href="#footer">Contacto</a></li>
						</ul>
					</nav>
				</header>
			</div>
			<!-- contenido -->
			<section>
				<div class="imgPrinci">
					<img src="../../img/moneyonline.jpg">
					<div class="Titulo">
						<h1 class="fondoNegro">Generar ingresos por Internet</h1>
					</div>
				</div>
				<div class="cuerpo">
					<h2 class="titulo-c alcentro">Generar ingresos por Internet</h2>
					<div class="parrafoBlog">
						<br>
						<p>Para generar ingresos por Internet debes hacer una cosa algo simple… vender, bueno relativamente simple, depende mucho de que se vende y quién lo vende. Pensemos entonces en un centro comercial, donde por lo general se vende ropa, entonces cualquier dueño de almacén te dirá que es fácil vender en ese lugar, sin embargo si le preguntas a un vendedor ambulante  si es fácil vender en el centro comercial te dirá que no lo es tanto.</p>
					</div>
					<div class="parrafoBlog">
						<p>Entonces ¿qué debes hacer si quieres generar ingresos por Internet? Debes tener dos cosas un lugar donde vender y ganas de vender en ese lugar, cuando no quieres estar en un lugar es muy difícil que puedas estar mucho tiempo allí y hacer bien las tareas que vas a desarrollar; tener la mentalidad correcta desde el principio y tener un lugar fijo es una forma de comenzar muy bien, en Internet un lugar fijo se puede conseguir de muchas formas, con las redes sociales podemos conectarnos y tener presencia las 24 horas del día aunque el recurso es limitado; pero de esto hablaremos más adelante.</p>
					</div>
					<div class="parrafoBlog">
						<p>Ahora para ser más específicos lo que debemos tener es presencia en el ciberespacio y ganas de vender algo. Cuando tienes presencia en el ciberespacio puedes comunicarte con otras personas en él. Por ejemplo una empresa en el ciberespacio puede comunicar su motivo, su rumbo, porque existe y más importante… que vende. El ciberespacio es muy amplio, básicamente porque sus barreras están delimitadas por la cantidad de personas que lo usen, con esto en mente podemos afirmar que hoy en día las empresas que no tienen presencia en el ciberespacio están perdiendo una gran cantidad de clientes potenciales.</p>
					</div>
					<div class="parrafoBlog">
						<p>Ahora sabemos que las empresas deben estar en el ciberespacio, y si nosotros mismos somos una empresa, eso quiere decir que podemos mostrar a las personas nuestra misión, nuestro rumbo, por qué existimos o por lo menos nuestra idea, pero mucho más importante… que vendemos. Ahora podemos mostrar nuestros talentos a cientos de millones de personas alrededor del mundo, ¿Y si alguien necesita lo que tú talento?  ¿Y si necesitan de tus habilidades? ¿Y si necesitan de tu ayuda? ¿Y si buscan personas con tus características? ¿Y si buscan quien haga lo que tú sabes hacer? ¿Y si alguien te está buscando?</p>
					</div>
					<div class="parrafoBlog">
						<p>En Mi talento queremos ayudarte a que generes ingresos por Internet, por lo que en la tienda tenemos productos especializados para ti, como asesorías personalizadas para ayudarte en tu proceso de generación de ingresos por Internet, recuerda que no estás solo estamos contigo, juntos generando ingresos por Internet.</p>
					</div>
				</div>
			</section>
			<!--contenido-->
			<!-- footer -->
				<footer id="footer" class="footer">
			<div class="contenedor_footer">
				<div class="contacto">
					<img data-original="../../img/sin_fondo.png" class="img_footer lazy" width="120" height="130">
					<div class="orden">
						<div class="wapp"></div><a href="tel:+573008865375"><strong>Teléfono</strong><span>+(57) 300 886 5375</span></a>
						<a href="mailto:mitalentom@gmail.com"><strong>Email</strong><span>mitalentom@gmail.com</span></a>
					</div>
				</div>
				<form class="formulario">
					<div class="col1">
						<label for="nombre"> Nombre</label>
						<input type="text" required id="nombre">
						<label for="email" > E-mail</label>
						<input type="email" required id="email">
						<div class="sexo">
							<label for="mujer">
								<input type="radio" name="sexo" value="mujer" checked id="mujer"> Mujer
							</label>
							<label for="hombre">
								<input type="radio" name="sexo" value="hombre" id="hombre"> Hombre
							</label>
						</div>
						<div class="interes">
							<label for="freelance">
								<input type="checkbox" name="freelance" checked id="freelance"> Quiero trabajar por Internet
							</label>
							<label for="comentarios">
								<input type="checkbox" name="comentarios" id="comentarios"> comentarios
							</label>
							<label for="talentos">
								<input type="checkbox" name="talentos" id="talentos"> Quiero aprocechar mi talento
							</label>
							<label for="otros">
								<input type="checkbox" name="Otros" id="Otros"> Otros
							</label>
						</div>
						<div class="socialmedia">
							<div class="btn-redes"><a href="https://twitter.com/talentoMi" class="twitter-follow-button" data-show-count="false">Follow @talentoMi</a><script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script></div>
							<div class="btn-redes"><iframe src="https://www.facebook.com/plugins/like.php?href=https%3A%2F%2Fwww.facebook.com%2FMi-Talento-1886912491584512%2F&width=153&layout=button_count&action=like&size=small&show_faces=true&share=true&height=46&appId" width="153" height="25" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true"></iframe></div>
							<div class="g-plusone" data-annotation="inline" data-width="300"></div>
						</div>
					</div>
					<div class="texto">
						<label for="hablemos" class="hablemos">Hablemos</label>
						<textarea id="hablemos" class="hablemos" required="" name="hablemos" cols="30" rows="10"></textarea>
						<div class="derecha hablemos">	
							<input type="submit" value="Enviar" class="transicion">
						</div>
					</div>
				</form>
			</div>
		</footer>
		<div class="derechos">
			<h3> &copy;Copyright <span>Mi Talento</span>  2017 Todos los derechos reservados. <h3>
		</div>
		<script src="../../js/jquery.min.js"></script>
		<script src="../../js/jquery.lazyload.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/hammer.js/2.0.8/hammer.min.js"></script>
		<script src="https://apis.google.com/js/platform.js" async defer></script>
		<script src="../../js/script.js"></script>
	</body>
</html>	