<!DOCTYPE html>
<html>
	<head>
		<title>Hablemos de precios.</title>
		<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
		<meta charset="utf-8">
		<meta property="og:url" content="https://pedronelbuiles.github.io/Mitalento/views/blog/hablemosDePrecios.html"/>
		<meta property="og:type" content="article"/>
		<meta property="og:title" content="Hablemos de precios."/>
		<meta property="og:description" content="En realidad cobras lo que vale tu producto o servicio, en Mi talento te ayudamos a averiguarlo.">
		<meta property="og:image" content="https://pedronelbuiles.github.io/Mitalento/img/ojomoney.png">
		<link rel="shorcut icon" href="../../img/logo_sin_fondo.png">
		<link rel="stylesheet" type="text/css" href="../../css/mitalento.min.css">
	</head>
	<body>
		<div>
			<div class="caja">
				<header id="header" class="header contenedor_cabeza">
					<figure class="logo">
						<img src="../../img/logo_sin_fondo.png" id="logo" width="80"  alt="Logo Mi Talento">
						<img src="../../img/Mitalento.png" class="letra_logo">
					</figure>
					<span class="icon-menu btn-menu" id="btn-menu"></span>
					<nav class="menu">
						<ul id="menu">
							<li><a href="../../index.html">Home</a></li>
							<li><a href="../nosotros.html">Nosotros</a></li>
							<li><a href="../blog.html">Blog</a></li>
							<li><a href="../tienda.html">Tienda</a></li>
							<li><a href="../donaciones.html">Donaciones</a></li>
							<li><a href="#footer">Contacto</a></li>
						</ul>
					</nav>
				</header>
			</div>
			<!-- contenido -->
			<section>
				<div class="imgPrinci">
					<img src="../../img/ojomoney.png">
					<div class="Titulo">
						<h1 class="fondoNegro">Hablemos de precios.</h1>
					</div>
				</div>
				<div class="cuerpo">
					<h2 class="titulo-c alcentro">Hablemos de precios.</h2>
					<div class="parrafoBlog">
						<br>
						<p>Me gusta mucho este tema, debido a que muchas persona no saben cuánto vale su trabajo, por lo que aquí vamos a darte una pequeña ayuda con datos y ejercicios muy básico para que puedas  conocer el valor de tu trabajo y así pidas la cantidad que mereces por un trabajo bien hecho poniendo todos nuestras ganas, talento y habilidades disponibles a disposición de las personas.</p>
						<p>Al hablar de precios tenemos que ser específicos en que vamos a cobrar, si son productos, si son servicios, si son tuyos o si por el contrario son de terceros (afiliados) entonces, ¿por dónde comenzar?</p>
					</div>
					<h3 class="titulo-f alcentro">Servicios</h3>
					<div class="parrafoBlog">
						<p>Para los servicios muchas veces vamos a hacer un intercambio de tiempo por dinero,  puede que no sea tu tiempo, por ejemplo cuando tienes una empresa y en ella tienes empleados que prestan el servicio en nombre de la empresa. Entonces comencemos a hacer números.</p>
					</div>
					<h3 class="subTitulo">Ingreso ideal</h3>
					<div class="parrafoBlog">
						<p>Primero debemos tener una meta, es decir una cantidad y un lapso de tiempo en el cual debemos lograr esa cantidad; para tener está meta vamos a sumar los gastos necesarios para que el proyecto esté en marcha, es decir el alquiler (si tienes uno), las facturas de lo que se consume en el proyecto (materias primas, transporte, impuestos).</p>
						<p>Ahora lo más importante los sueldos, el primer sueldo que debes sumar es el tuyo, esto es MUY importante TÚ debes pagarte primero, eres quien mantiene el proyecto en marcha y por esto eres la persona más importante en el proyecto, luego sumar los sueldos de tus empleados (si los tienes). Cuando sumamos estas cantidades vas a obtener los ingresos necesarios para que el proyecto esté en marcha ahora solo debes sumarle costos que creas necesarios para la evolución del proyecto, los ahorros que quieres hacer, las inversiones, las posibles expansiones.</p>
					</div>
					<h3 class="subTitulo">Lapso de tiempo</h3>
					<div class="parrafoBlog">
						<p>Por lo general el lapso de tiempo es 1 (un) mes, sin embargo tu puedes poner el lapso de tiempo que mejor te parezca y que mejor se acomode a tu proyecto, ahora vamos a hacer un cálculo para saber cuántos ingresos debe generar el proyecto a la hora y al día.</p>
						<p>Primero definamos la variables, al ingreso ideal lo llamaremos IA, al tiempo lo llamaremos T, tendremos una media de semanas por mes que es de 4 (es decir la mayoría de los meses tienen más de 4 semanas pero hay otros que no, por ejemplo febrero), a los días que tu proyecto va a estar disponible lo llamaremos D, y a las horas disponibles en el día las llamaremos H, entonces:</p>
						<div class="subParrafo">
							<span>D*4=</span><strong> Días disponibles del mes para generar los ingresos </strong><span>(DM).</span><br><br>
							<span>DM*H=</span><strong> Horas disponibles al mes para generar los ingresos </strong><span>(HM).</span><br><br>
							<span>IA/HM=</span><strong> Valor por hora trabajada </strong><span>(VH).</span><br><br>
							<span>VH*D =</span><strong> Valor por día laborado </strong><span>(VD).</span>
						</div>
						<p>De esta manera va a saber cuánto debes generar por cada hora y cada día que tu proyecto esté prestando el servicio.</p>
					</div>
					<h3 class="titulo-f alcentro">Productos:</h3>
					<div class="parrafoBlog">
						<p>Cuando hablamos de productos los valores no cambian mucho, para ser más exactos lo que cambia es la suma de nuestro IA (ingreso ideal) al cual le debemos sumar los costos de producción y manufactura (si los tiene, además de conocer muy bien el porcentaje de ganancia de camada producto pues esto va a marcar una gran diferencia; entonces comencemos con los números.</p>
						<div class="subParrafo">
							<span>D*4=</span><strong> Días disponibles del mes para generar los ingresos </strong><span>(DM).</span><br><br>
							<span>IA/DM=</span><strong> Cantidad a ingresar por venta de productos </strong><span>(PI).</span><br><br>
						</div>
						<p>El PI es muy importante porque en base a él vamos a saber cuánto producto debes vender para satisfacer las el IA, entonces, al valor del producto lo llamaremos VP.</p>
						<div class="subParrafo">
							<span>IA/VP =</span><strong> cantidad de productos a vender </strong><span>(PV).</span>
						</div>
					</div>
					<div class="parrafoBlog">
						<p>Lo más importante de este ejercicio es que tengas conocimiento de cuánto vale tu trabajo, sin importar si es muy alto o muy bajo el precio, una vez que conoces estos datos puedes generar estrategias para mejorar tus ingresos, por ejemplo, si te parece que cobras muy poco puedes incrementar tus precios agregando valor a tus servicios o mejores productos, si por el contrario consideramos que el precio es demasiado alto, tienes varias opciones, puedes diversificar los productos o servicios que ofreces, siempre es mejor tener varias fuentes de ingreso; o puedes también re posicionar tus productos o servicios, ¿estás seguro que llegas a las personas correctas para tus productos o servicios? ¿ si estás llegando a tu cliente ideal?</p>
						<p>De todas maneras queremos que sepas que en Mi talento estamos para ayudarte a crecer y generar mejores ingresos por Internet, si sientes que estos números son un poco complicados nosotros estamos dispuestos a asesórate para que tomes las mejores decisiones y así puedas incrementar de manera sustancial todos tus ingresos. Ingresa ya a la tienda y compra nuestra asesoría, charla con nosotros sobre tus talentos, habilidades y proyecto y juntos crezcamos y ganemos dinero por Internet.</p>
					</div>
				</div>
			</section>
			<!--contenido-->
			<!-- footer -->
				<footer id="footer" class="footer">
			<div class="contenedor_footer">
				<div class="contacto">
					<img data-original="../../img/sin_fondo.png" class="img_footer lazy" width="120" height="130">
					<div class="orden">
						<div class="wapp"></div><a href="tel:+573008865375"><strong>Teléfono</strong><span>+(57) 300 886 5375</span></a>
						<a href="mailto:mitalentom@gmail.com"><strong>Email</strong><span>mitalentom@gmail.com</span></a>
					</div>
				</div>
				<form class="formulario" action="https://formspree.io/mitalentom@gmail.com" method="POST">
					<div class="col1">
						<label for="nombre"> Nombre</label>
						<input type="text" required id="nombre">
						<label for="email" > E-mail</label>
						<input type="email" required id="email">
						<div class="sexo">
							<label for="mujer">
								<input type="radio" name="sexo" value="mujer" checked id="mujer"> Mujer
							</label>
							<label for="hombre">
								<input type="radio" name="sexo" value="hombre" id="hombre"> Hombre
							</label>
						</div>
						<div class="interes">
							<label for="freelance">
								<input type="checkbox" name="freelance" checked id="freelance"> Quiero trabajar por Internet
							</label>
							<label for="comentarios">
								<input type="checkbox" name="comentarios" id="comentarios"> comentarios
							</label>
							<label for="talentos">
								<input type="checkbox" name="talentos" id="talentos"> Quiero aprocechar mi talento
							</label>
							<label for="otros">
								<input type="checkbox" name="Otros" id="Otros"> Otros
							</label>
						</div>
						<div class="socialmedia">
							<div class="btn-redes"><a href="https://twitter.com/talentoMi" class="twitter-follow-button" data-show-count="false">Follow @talentoMi</a><script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script></div>
							<div class="btn-redes"><iframe src="https://www.facebook.com/plugins/like.php?href=https%3A%2F%2Fwww.facebook.com%2FMi-Talento-1886912491584512%2F&width=153&layout=button_count&action=like&size=small&show_faces=true&share=true&height=46&appId" width="153" height="25" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true"></iframe></div>
							<div class="g-plusone" data-annotation="inline" data-width="300"></div>
						</div>
					</div>
					<div class="texto">
						<label for="hablemos" class="hablemos">Hablemos</label>
						<textarea id="hablemos" class="hablemos" required="" name="hablemos" cols="30" rows="10"></textarea>
						<div class="derecha hablemos">	
							<input type="submit" value="Enviar" class="transicion">
						</div>
					</div>
				</form>
			</div>
		</footer>
		<div class="derechos">
			<h3> &copy;Copyright <span>Mi Talento</span>  2017 Todos los derechos reservados. <h3>
		</div>
		<script src="../../js/jquery.min.js"></script>
		<script src="../../js/jquery.lazyload.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/hammer.js/2.0.8/hammer.min.js"></script>
		<script src="https://apis.google.com/js/platform.js" async defer></script>
		<script src="../../js/script.js"></script>
	</body>
</html>	