<!DOCTYPE html>
<html>
	<head>
		<title>Investigación del mercado</title>
		<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
		<meta charset="utf-8">
		<meta property="og:url" content="https://pedronelbuiles.github.io/Mitalento/views/blog/trabajarOemprender.html"/>
		<meta property="og:type" content="article"/>
		<meta property="og:title" content="Investigación del mercado"/>
		<meta property="og:description" content="¿Quieres ser mejor que tu competencia? ¿saber si tu emprendimiento dará frutos? Estás y más respuestas en este blog.">
		<meta property="og:image" content="https://pedronelbuiles.github.io/Mitalento/img/womenWork.jpg">
		<link rel="shorcut icon" href="../../img/logo_sin_fondo.png">
		<link rel="stylesheet" type="text/css" href="../../css/mitalento.min.css">
	</head>
	<body>
		<div>
			<div class="caja">
				<header id="header" class="header contenedor_cabeza">
					<figure class="logo">
						<img src="../../img/logo_sin_fondo.png" id="logo" width="80"  alt="Logo Mi Talento">
						<img src="../../img/Mitalento.png" class="letra_logo">
					</figure>
					<span class="icon-menu btn-menu" id="btn-menu"></span>
					<nav class="menu">
						<ul id="menu">
							<li><a href="../../index.html">Home</a></li>
							<li><a href="../nosotros.html">Nosotros</a></li>
							<li><a href="../blog.html">Blog</a></li>
							<li><a href="../tienda.html">Tienda</a></li>
							<li><a href="../donaciones.html">Donaciones</a></li>
							<li><a href="#footer">Contacto</a></li>
						</ul>
					</nav>
				</header>
			</div>
			<!-- contenido -->
			<section>
				<div class="imgPrinci">
					<img src="../../img/womenWork.jpg">
					<div class="Titulo">
						<h1 class="fondoNegro">Investigación del mercado</h1>
					</div>
				</div>
				<div class="cuerpo">
					<h2 class="titulo-c alcentro">Investigación del mercado</h2>
					<div class="parrafoBlog">
						<br>
						<p>Siempre en todo emprendimiento debemos hacer una investigación del <strong>mercado potencial</strong> o ¿quieres emprender en un negocio que no tiene clientela o no está interesada en tus productos o servicios? Está herramienta se aplica a todo tipo de empresas sin importar si es grande mediana o pequeña nunca debes pasar de largo por este paso, pues de él depende tu éxito en el negocio.</p>
						<p>Ahora la forma de hacerlo es simple, solo debes recaudar la información necesaria para tomar decisiones en tu proceso de emprendimiento. pero ¿Cómo recaudar esa información?</p>
						<p>Puedes hacerlo por medio de un especialista o hacerlo tu mismo, es más a si tu emprendimiento está en marcha a veces haces investigación de mercadeo sin siquiera darte cuenta, cuando hablas con un cliente o con un prospecto, cuando le haces preguntas sobre el producto o servicio, sobre sus necesidades, sobre las sugerencias que tiene con el mismo o incluso cuando hablas con las empresas que proveen la materia prima.</p>
						<p>Puede que hables mucho con tus clientes pero lo esencial es que indagues sobre ciertos temas tales cómo: ¿cuál es la necesidad de sus clientes, que demandan? ¿cómo hacer que los clientes presten más atención al producto o servicio, y más importante que productos o servicios nuevos les llaman la atención (que estén relacionados con tu nicho).</p>
						<p>La información que obtienes de tus competidores es increíblemente importante, debido a que podrás ver qué productos o servicios tienen una demanda insatisfecha (para adaptar tus productos o servicios y cubrir esta demanda) ¿cómo participan ellos en el mercado y cómo diferenciarte de ellos?</p>
						<p>Este proceso puede que nos tome más tiempo de que parece, sin embargo no podemos pasarlo por alto pues es de vital importancia conocer todos estos datos tanto para el futuro del negocio como para las bases del mismo.</p>
						<p>Podemos obtener información de las necesidades de nuestros clientes, con una auto evaluación, es decir, podemos ser nuestros propios clientes, si consumimos nuestros productos o servicios, así si nos resulta una necesidad relacionada con los mismos, podremos ver posibilidades para abrir nuestro negocio.</p>
						<p>Otra forma de obtener información es por medio de lo que llamamos un "cliente impostor"  lo que significa esto es simple, vamos a comunicarnos con nuestros consumidores como si fuéramos un cliente y haremos todas las preguntas necesarias, incluso preguntas relacionadas con las necesidades que encontramos como clientes de nuestros productos o servicios, de esa forma veremos si nuestro negocio será pionero en solucionar está necesidad o si podemos poner un valor agregado para diferenciarse y competir mejor.</p>
						<p>Otra forma es la de realizar cuestionarios a nuestros clientes realizando preguntas parecidas a las que haríamos a nuestros competidores, además podemos agregar preguntas como si pagarán por nuevos productos o servicios, y si los precios que le informamos le parecen altos o bajos.</p>
						<p>Para que tu investigación sea exitosa debemos tener en cuenta algunos aspectos:</p>
						<p>Debes ser selectivo con el público al que vas a investigar, recuerda buscar siempre a tu público objetivo, personas que primero tengan la necesidad, segundo que quieran satisfacer la necesidad y tercero que tengan con que satisfacer esa necesidad.</p>
						<p>Como todo buen actor debes seguir un guión y lo mismo pasa con las preguntas que vas a hacer, debes tener el cuestionario debidamente preparado para que puedas comparar las respuestas de tu investigación.</p>
						<p>Para evaluar tu idea debes conocer tus límites, ¿cuanto es el porcentaje de respuestas afirmativas que necesitas para aprobar tu proyecto? ¿cuantas respuestas descalifican tu idea? esto es flexible, puedes poner otras formas de evaluación..</p>
						<p>Por último, debes tener muy en cuenta el tiempo que dedicas a la investigación y más importante el tiempo que necesitarás para poner en marcha las conclusiones de tu investigación y saber que los dos procesos también deben de estar unidos en un periodo de tiempo, compuesto de tres partes la primera es la de investigación, la segunda la de planeación y acción y la tercera es la de evaluación y investigación.</p>
					</div>
				</div>
				<div>
					<a href="../emprendiendoPorInternet.html" style="color: black; margin-left: 165px;"> Atrás</a>
				</div>
			</section>
			<!--contenido-->
			<!-- footer -->
				<footer id="footer" class="footer">
			<div class="contenedor_footer">
				<div class="contacto">
					<img data-original="../../img/sin_fondo.png" class="img_footer lazy" width="120" height="130">
					<div class="orden">
						<div class="wapp"></div><a href="tel:+573008865375"><strong>Teléfono</strong><span>+(57) 300 886 5375</span></a>
						<a href="mailto:mitalentom@gmail.com"><strong>Email</strong><span>mitalentom@gmail.com</span></a>
					</div>
				</div>
				<form class="formulario" action="https://formspree.io/mitalentom@gmail.com" method="POST">
					<div class="col1">
						<label for="nombre"> Nombre</label>
						<input type="text" required id="nombre">
						<label for="email" > E-mail</label>
						<input type="email" required id="email">
						<div class="sexo">
							<label for="mujer">
								<input type="radio" name="sexo" value="mujer" checked id="mujer"> Mujer
							</label>
							<label for="hombre">
								<input type="radio" name="sexo" value="hombre" id="hombre"> Hombre
							</label>
						</div>
						<div class="interes">
							<label for="freelance">
								<input type="checkbox" name="freelance" checked id="freelance"> Quiero trabajar por Internet
							</label>
							<label for="comentarios">
								<input type="checkbox" name="comentarios" id="comentarios"> comentarios
							</label>
							<label for="talentos">
								<input type="checkbox" name="talentos" id="talentos"> Quiero aprocechar mi talento
							</label>
							<label for="otros">
								<input type="checkbox" name="Otros" id="Otros"> Otros
							</label>
						</div>
						<div class="socialmedia">
							<div class="btn-redes"><a href="https://twitter.com/talentoMi" class="twitter-follow-button" data-show-count="false">Follow @talentoMi</a><script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script></div>
							<div class="btn-redes"><iframe src="https://www.facebook.com/plugins/like.php?href=https%3A%2F%2Fwww.facebook.com%2FMi-Talento-1886912491584512%2F&width=153&layout=button_count&action=like&size=small&show_faces=true&share=true&height=46&appId" width="153" height="25" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true"></iframe></div>
							<div class="g-plusone" data-annotation="inline" data-width="300"></div>
						</div>
					</div>
					<div class="texto">
						<label for="hablemos" class="hablemos">Hablemos</label>
						<textarea id="hablemos" class="hablemos" required="" name="hablemos" cols="30" rows="10"></textarea>
						<div class="derecha hablemos">	
							<input type="submit" value="Enviar" class="transicion">
						</div>
					</div>
				</form>
			</div>
		</footer>
		<div class="derechos">
			<h3> &copy;Copyright <span>Mi Talento</span>  2017 Todos los derechos reservados. <h3>
		</div>
		<script src="../../js/jquery.min.js"></script>
		<script src="../../js/jquery.lazyload.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/hammer.js/2.0.8/hammer.min.js"></script>
		<script src="https://apis.google.com/js/platform.js" async defer></script>
		<script src="../../js/script.js"></script>
	</body>
</html>	