
<!DOCTYPE html>
<html>
	<head>
		<title>Advertencias al trabajar por Internet</title>
		<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
		<meta charset="utf-8">
		<meta property="og:url" content="https://pedronelbuiles.github.io/Mitalento/views/blog/ganarDineroPorInternet.html"/>
		<meta property="og:type" content="article"/>
		<meta property="og:title" content="Advertencias al trabajar por Internet"/>
		<meta property="og:description" content="¡Atención! Trabajar por Internet es posible pero difiere mucho de las ofertas más comunes en la web, aprende que es trabajar por Internet con Mi talento.">
		<meta property="og:image" content="https://pedronelbuiles.github.io/Mitalento/img/justDoIt.jpg">
		<link rel="shorcut icon" href="../../img/logo_sin_fondo.png">
		<link rel="stylesheet" type="text/css" href="../../css/mitalento.min.css">
	</head>
	<body>
		<div>
			<div class="caja">
				<header id="header" class="header contenedor_cabeza">
					<figure class="logo">
						<img src="../../img/logo_sin_fondo.png" id="logo" width="80"  alt="Logo Mi Talento">
						<img src="../../img/Mitalento.png" class="letra_logo">
					</figure>
					<span class="icon-menu btn-menu" id="btn-menu"></span>
					<nav class="menu">
						<ul id="menu">
							<li><a href="../../index.html">Home</a></li>
							<li><a href="../nosotros.html">Nosotros</a></li>
							<li><a href="../blog.html">Blog</a></li>
							<li><a href="../tienda.html">Tienda</a></li>
							<li><a href="../donaciones.html">Donaciones</a></li>
							<li><a href="#footer">Contacto</a></li>
						</ul>
					</nav>
				</header>
			</div>
			<!-- contenido -->
			<section>
				<div class="imgPrinci">
					<img src="../../imgNoMin/justDoIt.jpg" style=" top: -107px;">
					<div class="Titulo">
						<h1 class="fondoBlanco">Advertencias al trabajar por Internet</h1>
					</div>
				</div>
				<div class="cuerpo">
					<h2 class="titulo-c" style="text-align: center;">Advertencias al trabajar por Internet</h2>
					<p class="primerHijo">Aquí vamos a romper algunos sueños, primero quiero que pienses en los anuncios que te ofrecen trabajar por Internet, déjame adivinar, tal vez esos de ganar $500 dólares a la semana, o, se tu propio jefe trabajando desde casa, qué tal este, "gana más de $2000 dólares al mes compartiendo información en tus redes sociales" suena bien ¿cierto?</p>
					<p>Bueno pero eso es la parte linda, que tal si te digo que eso solo es una idea y que la realidad es que vas a estar en la computadora la mayor parte del día mientras realizas acciones repetitivas durante horas mientras al principio no ves progreso. ¿Te desmotiva? ¿No es lo que esperabas? ¿Lo que te prometieron fue mucho dinero sin esfuerzo? Lamento si aún no lo sabes pero el dinero fácil solo se logra con la suerte o la ilegalidad no hay otra manera o si conosco una más vende libros de cómo volverse rico sentado sin hacer nada y vendelos de seguro ganarás millones de dólares, pero, habrías trabajado duro escribiendo el libro y haciendo la publicidad, entonces, si de verdad quieres dinero, abundante y de forma legal, deberás trabajar duro por él además de ser constante y más importante disciplinado.</p>
					<p>La verdad es que trabaja por Internet no es fácil, aunque lo parezca, es un trabajo como todos los otros. Si quieres trabaja por Internet debes estar dispuesto, primero, a darle el respeto que se merece, el tiempo y la atención; segundo, aprender constantemente, porque Internet está en continuo crecimiento y siempre tenemos nuevas cosas que aprender para generar nuevos ingresos; y por último leer, si leer, si no quieres leer, no lo intentes, no pierdas tu tiempo, no vas a ganar dinero por Internet, por lo menos no un monto decente que te permita mejorar tu estilo de vida, debido a que los mejores contenidos de Internet están escritos, no grabados, de hecho hay mucho material audio visual de gran utilidad, sin embargo como ya se dijo los mejores, más completos y mejor explicados contenidos están en formato escrito.</p>
					<p>Ahora que ya se te dijo lo principal te hablaremos de lo que vas a vivir, al principio será difícil, como todo en la vida cuando estamos aprendiendo, es difícil, pero pronto tu cuerpo se acostumbrara al trabajo que haces hasta que llegue el momento cuando hagas las cosas por gusto y en ese momento es cuando los mejores resultados van a llegar.</p>
					<p>Ya sabes que se viene en este camino entonces comienza de una vez escoge una guia, la que más te interese y comenza ¡Ahora!</p>
				</div>
				<div>
					<a href="../guias.html" style="color: black; margin-left: 165px;"> Atrás</a>
				</div>
			</section>
			<!--contenido-->
			<!-- footer -->
				<footer id="footer" class="footer">
			<div class="contenedor_footer">
				<div class="contacto">
					<img data-original="../../img/sin_fondo.png" class="img_footer lazy" width="120" height="130">
					<div class="orden">
						<div class="wapp"></div><a href="tel:+573008865375"><strong>Teléfono</strong><span>+(57) 300 886 5375</span></a>
						<a href="mailto:mitalentom@gmail.com"><strong>Email</strong><span>mitalentom@gmail.com</span></a>
					</div>
				</div>
				<form class="formulario" action="https://formspree.io/mitalentom@gmail.com" method="POST">
					<div class="col1">
						<label for="nombre"> Nombre</label>
						<input type="text" required id="nombre">
						<label for="email" > E-mail</label>
						<input type="email" required id="email">
						<div class="sexo">
							<label for="mujer">
								<input type="radio" name="sexo" value="mujer" checked id="mujer"> Mujer
							</label>
							<label for="hombre">
								<input type="radio" name="sexo" value="hombre" id="hombre"> Hombre
							</label>
						</div>
						<div class="interes">
							<label for="freelance">
								<input type="checkbox" name="freelance" checked id="freelance"> Quiero trabajar por Internet
							</label>
							<label for="comentarios">
								<input type="checkbox" name="comentarios" id="comentarios"> comentarios
							</label>
							<label for="talentos">
								<input type="checkbox" name="talentos" id="talentos"> Quiero aprocechar mi talento
							</label>
							<label for="otros">
								<input type="checkbox" name="Otros" id="Otros"> Otros
							</label>
						</div>
						<div class="socialmedia">
							<div class="btn-redes"><a href="https://twitter.com/talentoMi" class="twitter-follow-button" data-show-count="false">Follow @talentoMi</a><script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script></div>
							<div class="btn-redes"><iframe src="https://www.facebook.com/plugins/like.php?href=https%3A%2F%2Fwww.facebook.com%2FMi-Talento-1886912491584512%2F&width=153&layout=button_count&action=like&size=small&show_faces=true&share=true&height=46&appId" width="153" height="25" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true"></iframe></div>
							<div class="g-plusone" data-annotation="inline" data-width="300"></div>
						</div>
					</div>
					<div class="texto">
						<label for="hablemos" class="hablemos">Hablemos</label>
						<textarea id="hablemos" class="hablemos" required="" name="hablemos" cols="30" rows="10"></textarea>
						<div class="derecha hablemos">	
							<input type="submit" value="Enviar" class="transicion">
						</div>
					</div>
				</form>
			</div>
		</footer>
		<div class="derechos">
			<h3> &copy;Copyright <span>Mi Talento</span>  2017 Todos los derechos reservados. <h3>
		</div>
		<script src="../../js/jquery.min.js"></script>
		<script src="../../js/jquery.lazyload.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/hammer.js/2.0.8/hammer.min.js"></script>
		<script src="https://apis.google.com/js/platform.js" async defer></script>
		<script src="../../js/script.js"></script>
	</body>
</html>	