<!DOCTYPE html>
<html>
	<head>
		<title>La oportunidad de nuestras vidas!</title>
		<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
		<meta charset="utf-8">
		<meta property="og:url" content="https://pedronelbuiles.github.io/Mitalento/views/blog/laOportunidad.html"/>
		<meta property="og:type" content="article"/>
		<meta property="og:title" content="¡Los trabajos por Internet, la oportunidad de nuestras vidas!"/>
		<meta property="og:description" content="Actualmente se habla mucho de los trabajos por Internet, aquí te contamos sobre este tematan interresante del cual todos están hablando aho"/>
		<meta property="og:image" content="https://pedronelbuiles.github.io/Mitalento/img/womenWork.jpg"/>
		<link rel="shorcut icon" href="../../img/logo_sin_fondo.png">
		<link rel="stylesheet" type="text/css" href="../../css/mitalento.min.css">
	</head>
	<body>
		<div>
			<div class="caja">
				<header id="header" class="header contenedor_cabeza">
					<figure class="logo">
						<img src="../../img/logo_sin_fondo.png" id="logo" width="80"  alt="Logo Mi Talento">
						<img src="../../img/Mitalento.png" class="letra_logo">
					</figure>
					<span class="icon-menu btn-menu" id="btn-menu"></span>
					<nav class="menu">
						<ul id="menu">
							<li><a href="../../index.html">Home</a></li>
							<li><a href="../nosotros.html">Nosotros</a></li>
							<li><a href="../blog.html">Blog</a></li>
							<li><a href="../tienda.html">Tienda</a></li>
							<li><a href="../donaciones.html">Donaciones</a></li>
							<li><a href="#footer">Contacto</a></li>
						</ul>
					</nav>
				</header>
			</div>
			<!-- contenido -->
			<section>
				<div class="imgPrinci">
					<img src="../../img/womenWork.jpg">
					<div class="Titulo">
						<h1 class="fondoBlanco">¡Los trabajos por Internet, la oportunidad de nuestras vidas!</h1>
					</div>
				</div>
				<div class="cuerpo">
					<h2 class="titulo-c alcentro">¿Trabajos por Internet?</h2>
					<div class="parrafoBlog">
						<p>Mucho se habla ahora de los trabajos por Internet y que las nuevas tecnologías nos ayudan a obtener más ganancias, pero alguien en algún momento definió ¿qué rayos es eso de trabajar por Internet? Eso que llaman trabajo por Internet no es más que desempeñar una acción laboral, la cual es posible realizarla desde cualquier otro lugar con algunos requerimientos tecnológicos básicos.</p>
					</div>
					<h3 class="titulo-f alcentro">¿Cómo es eso posible?</h3>
					<div class="parrafoBlog">
						<p>Me encanta cuando digo que es real, no es una idea, es una opción; puedes realizar muchas tareas con una computadora y acceso a Internet. Las empresas saben que esto es más barato para ellas y más cómodo para ti. En este momento podrías estar generando ingresos, incluso mientras estás en facebook podrías estar generando ingresos.</p>
						<p>Internet nos ofrece una amplia gama a escoger cuando queremos trabajar por Internet, tan amplia como la imaginación misma; debido a que Internet es una fuente de comunicación, tus ideas pueden crear nuevas formas en las cuales ayudar a las personas y satisfacer sus necesidades. Y adivina, así es como se genera ingresos.</p>
						<p>En Internet hay trabajo para todos desde Arquitectos hasta albañiles, desde artistas hasta tenderos; Internet nos genera grandes oportunidades, la independencia, movilidad, podemos ayudar con el medio ambiente, obligatoria mente debemos crecer como personas en el pensar, ser y hacer; sin embargo las oportunidades más grandes que nos trae son: el poder crear la empresa que quieras y la sistematización de la misma. Ya lo había dicho, sin embargo lo repito, porque esto es lo que define los ingresos que tendrás, tus ideas son la solución a las necesidades de las personas y ellas están dispuestas a pagar por tu solución.</p>
					</div>
					<h3 class="titulo-f alcentro">¿Es fácil trabajar por Internet?</h3>
					<div class="parrafoBlog">
						<p>Trabajar por Internet trae consigo muchos desafíos, la disciplina, la confianza en sí mismo y en nuestras ideas, el respeto a nosotros mismos y a nuestro lugar de trabajo,  la motivación, entre otros. Todos sabemos que el precio del éxito es muy alto, lo que no nos han dicho es que su recompensa es igual de buena; podemos tener lo que sea si hacemos lo necesario para lograrlo, todos tenemos potencial y mucho talento para explotar. Sin embargo para trabajar por Internet necesitas solo tres cosas: una computadora, acceso a Internet y Pasión por lo que haces.</p>
						<p>El éxito de los negocios por Internet está íntimamente relacionado con la pasión por lo que hagas, “si tu amas lo que haces, no tendrás que trabajar un solo día de tu vida” decía Steve Jobs una de las personas que más dinero le ha sacado al Internet. Y podríamos dividir la palabra “pasión” para ser más específicos. Pasión es el conjunto de la Disciplina, la Determinación y el Deseo de cumplir eso que amas tanto; estos tres pilares son los que van a marcar la diferencia en tus negocios por Internet.</p>
					</div>
					<h3 class="titulo-f alcentro">¿Estas animado?</h3>
					<div class="parrafoBlog">
						<p>Si aún quieres entrar a este nuevo mundo de los generadores de ingresos por Internet, lo único que debes hacer es: hacerlo. ¿Estás confundido? No es de extrañarse, todos podemos trabajar por Internet pero no podemos ir por todo el Internet ofreciendo nuestro talento y nuestras ideas, es absurdo. Así que aplicaremos estrategias orientadas al trabajo 2.0. Las cuales se enfocan en que los clientes te busquen a ti, y no que tu los busques a ellos. Estas estrategias y otros beneficios los puedes recibir en nuestra plataforma Mi Talento, tenemos soluciones diseñadas para orientarte desde el principio de tu emprendimiento en el mundo del Internet, hasta cómo potenciar tu negocio existente con Internet.</p>
						<p>Son muchas las razones por las cuales ingresar al mundo de las ganancias por Internet, y aún así son pocos los que están aprovechando está oportunidad, y ¿cual es el motivo? simple, te haré una pregunta basados en la siguiente premisa: hay cinco (5) aves en una rama y una decide volar, entonces ¿cuántas aves quedan en la rama?… La respuesta es 5, debido a que decidir y hacer no es lo mismo; por eso no te quedes atrás, comienza ahora a generar ganancias por Internet con nuestra ayuda, la ayuda de Mi talento.</p>
					</div>
				</div>
			</section>
			<!--contenido-->
			<!-- footer -->
				<footer id="footer" class="footer">
			<div class="contenedor_footer">
				<div class="contacto">
					<img data-original="../../img/sin_fondo.png" class="img_footer lazy" width="120" height="130">
					<div class="orden">
						<div class="wapp"></div><a href="tel:+573008865375"><strong>Teléfono</strong><span>+(57) 300 886 5375</span></a>
						<a href="mailto:mitalentom@gmail.com"><strong>Email</strong><span>mitalentom@gmail.com</span></a>
					</div>
				</div>
				<form class="formulario">
					<div class="col1">
						<label for="nombre"> Nombre</label>
						<input type="text" required id="nombre">
						<label for="email" > E-mail</label>
						<input type="email" required id="email">
						<div class="sexo">
							<label for="mujer">
								<input type="radio" name="sexo" value="mujer" checked id="mujer"> Mujer
							</label>
							<label for="hombre">
								<input type="radio" name="sexo" value="hombre" id="hombre"> Hombre
							</label>
						</div>
						<div class="interes">
							<label for="freelance">
								<input type="checkbox" name="freelance" checked id="freelance"> Quiero trabajar por Internet
							</label>
							<label for="comentarios">
								<input type="checkbox" name="comentarios" id="comentarios"> comentarios
							</label>
							<label for="talentos">
								<input type="checkbox" name="talentos" id="talentos"> Quiero aprocechar mi talento
							</label>
							<label for="otros">
								<input type="checkbox" name="Otros" id="Otros"> Otros
							</label>
						</div>
						<div class="socialmedia">
							<div class="btn-redes"><a href="https://twitter.com/talentoMi" class="twitter-follow-button" data-show-count="false">Follow @talentoMi</a><script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script></div>
							<div class="btn-redes"><iframe src="https://www.facebook.com/plugins/like.php?href=https%3A%2F%2Fwww.facebook.com%2FMi-Talento-1886912491584512%2F&width=153&layout=button_count&action=like&size=small&show_faces=true&share=true&height=46&appId" width="153" height="25" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true"></iframe></div>
							<div class="g-plusone" data-annotation="inline" data-width="300"></div>
						</div>
					</div>
					<div class="texto">
						<label for="hablemos" class="hablemos">Hablemos</label>
						<textarea id="hablemos" class="hablemos" required="" name="hablemos" cols="30" rows="10"></textarea>
						<div class="derecha hablemos">	
							<input type="submit" value="Enviar" class="transicion">
						</div>
					</div>
				</form>
			</div>
		</footer>
		<div class="derechos">
			<h3> &copy;Copyright <span>Mi Talento</span>  2017 Todos los derechos reservados. <h3>
		</div>
		<script src="../../js/jquery.min.js"></script>
		<script src="../../js/jquery.lazyload.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/hammer.js/2.0.8/hammer.min.js"></script>
		<script src="https://apis.google.com/js/platform.js" async defer></script>
		<script src="../../js/script.js"></script>
	</body>
</html>	
