<!DOCTYPE html>
<html>
	<head>
		<title>Organización del tiempo</title>
		<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
		<meta charset="utf-8">
		<meta property="og:url" content="https://pedronelbuiles.github.io/Mitalento/views/blog/trabajarOemprender.html"/>
		<meta property="og:type" content="article"/>
		<meta property="og:title" content="Organización del tiempo"/>
		<meta property="og:description" content="La Organización del tiempo es algo muy importante en cualquier negocio, aprende a valorarlo y organizarlo.">
		<meta property="og:image" content="https://pedronelbuiles.github.io/Mitalento/img/workOut.jpg">
		<link rel="shorcut icon" href="../../img/logo_sin_fondo.png">
		<link rel="stylesheet" type="text/css" href="../../css/mitalento.min.css">
	</head>
	<body>
		<div>
			<div class="caja">
				<header id="header" class="header contenedor_cabeza">
					<figure class="logo">
						<img src="../../img/logo_sin_fondo.png" id="logo" width="80"  alt="Logo Mi Talento">
						<img src="../../img/Mitalento.png" class="letra_logo">
					</figure>
					<span class="icon-menu btn-menu" id="btn-menu"></span>
					<nav class="menu">
						<ul id="menu">
							<li><a href="../../index.html">Home</a></li>
							<li><a href="../nosotros.html">Nosotros</a></li>
							<li><a href="../blog.html">Blog</a></li>
							<li><a href="../tienda.html">Tienda</a></li>
							<li><a href="../donaciones.html">Donaciones</a></li>
							<li><a href="#footer">Contacto</a></li>
						</ul>
					</nav>
				</header>
			</div>
			<!-- contenido -->
			<section>
				<div class="imgPrinci">
					<img src="../../img/workOut.jpg">
					<div class="Titulo">
						<h1 class="fondoNegro">Organización del tiempo</h1>
					</div>
				</div>
				<div class="cuerpo">
					<h2 class="titulo-c alcentro">Organización del tiempo</h2>
					<div class="parrafoBlog">
						<br>
						<p>Un aspecto fundamental cuando trabajamos desde nuestros hogares es la organización de nuestro tiempo,debido a que se nos facilita demasiado distraernos y realizar actividades poco productivas.</p>
						<p>Comparemos de nuevo el trabajo convencional con el trabajo desde el hogar, entonces cuando tienes un trabajo convencional tienes un horario de 8 horas más o menos según sea el caso donde solo realizamos actividades productivas para la empresa, por ende nuestro horario debe contar con la misma cantidad de horas que utilizaremos, pero tenemos una ventaja que nuestro horario puede ser flexible, todo depende de nuestras obligaciones, es decir, una personas que debe estar pendiente de sus hijos va a tener un horario distinto a él de una persona que solo debe ocuparse de sí misma.</p>
						<p>Entonces lo que debemos hacer primero es identificar las actividades que vamo a realizar en el día, luego vamos a identificar los espacios que tenemos disponibles para trabajar sin interrupción, luego debemos escribir con las horas respectivas de cada actividad y luego pegarlo donde lo podamos ver, una opción muy recomendada es hacerlo en el calendario de google donde podamos estar viéndolo desde nuestros dispositivos móviles.</p>
						<p></p>
					</div>
				</div>
				<div>
					<a href="../emprendiendoPorInternet.html" style="color: black; margin-left: 165px;"> Atrás</a>
				</div>
			</section>
			<!--contenido-->
			<!-- footer -->
				<footer id="footer" class="footer">
			<div class="contenedor_footer">
				<div class="contacto">
					<img data-original="../../img/sin_fondo.png" class="img_footer lazy" width="120" height="130">
					<div class="orden">
						<div class="wapp"></div><a href="tel:+573008865375"><strong>Teléfono</strong><span>+(57) 300 886 5375</span></a>
						<a href="mailto:mitalentom@gmail.com"><strong>Email</strong><span>mitalentom@gmail.com</span></a>
					</div>
				</div>
				<form class="formulario" action="https://formspree.io/mitalentom@gmail.com" method="POST">
					<div class="col1">
						<label for="nombre"> Nombre</label>
						<input type="text" required id="nombre">
						<label for="email" > E-mail</label>
						<input type="email" required id="email">
						<div class="sexo">
							<label for="mujer">
								<input type="radio" name="sexo" value="mujer" checked id="mujer"> Mujer
							</label>
							<label for="hombre">
								<input type="radio" name="sexo" value="hombre" id="hombre"> Hombre
							</label>
						</div>
						<div class="interes">
							<label for="freelance">
								<input type="checkbox" name="freelance" checked id="freelance"> Quiero trabajar por Internet
							</label>
							<label for="comentarios">
								<input type="checkbox" name="comentarios" id="comentarios"> comentarios
							</label>
							<label for="talentos">
								<input type="checkbox" name="talentos" id="talentos"> Quiero aprocechar mi talento
							</label>
							<label for="otros">
								<input type="checkbox" name="Otros" id="Otros"> Otros
							</label>
						</div>
						<div class="socialmedia">
							<div class="btn-redes"><a href="https://twitter.com/talentoMi" class="twitter-follow-button" data-show-count="false">Follow @talentoMi</a><script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script></div>
							<div class="btn-redes"><iframe src="https://www.facebook.com/plugins/like.php?href=https%3A%2F%2Fwww.facebook.com%2FMi-Talento-1886912491584512%2F&width=153&layout=button_count&action=like&size=small&show_faces=true&share=true&height=46&appId" width="153" height="25" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true"></iframe></div>
							<div class="g-plusone" data-annotation="inline" data-width="300"></div>
						</div>
					</div>
					<div class="texto">
						<label for="hablemos" class="hablemos">Hablemos</label>
						<textarea id="hablemos" class="hablemos" required="" name="hablemos" cols="30" rows="10"></textarea>
						<div class="derecha hablemos">	
							<input type="submit" value="Enviar" class="transicion">
						</div>
					</div>
				</form>
			</div>
		</footer>
		<div class="derechos">
			<h3> &copy;Copyright <span>Mi Talento</span>  2017 Todos los derechos reservados. <h3>
		</div>
		<script src="../../js/jquery.min.js"></script>
		<script src="../../js/jquery.lazyload.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/hammer.js/2.0.8/hammer.min.js"></script>
		<script src="https://apis.google.com/js/platform.js" async defer></script>
		<script src="../../js/script.js"></script>
	</body>
</html>	