<!DOCTYPE html>
<html>
	<head>
		<title>Problemas y soluciones.</title>
		<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
		<meta charset="utf-8">
		<meta property="og:url" content="https://pedronelbuiles.github.io/Mitalento/views/blog/trabajarOemprender.html"/>
		<meta property="og:type" content="article"/>
		<meta property="og:title" content="Problemas y soluciones."/>
		<meta property="og:description" content="Puede que se presenten algunos problemas, pero nuestro trabajo como emprendedores es solucionarlos.">
		<meta property="og:image" content="https://pedronelbuiles.github.io/Mitalento/img/pensando.jpg">
		<link rel="shorcut icon" href="../../img/logo_sin_fondo.png">
		<link rel="stylesheet" type="text/css" href="../../css/mitalento.min.css">
	</head>
	<body>
		<div>
			<div class="caja">
				<header id="header" class="header contenedor_cabeza">
					<figure class="logo">
						<img src="../../img/logo_sin_fondo.png" id="logo" width="80"  alt="Logo Mi Talento">
						<img src="../../img/Mitalento.png" class="letra_logo">
					</figure>
					<span class="icon-menu btn-menu" id="btn-menu"></span>
					<nav class="menu">
						<ul id="menu">
							<li><a href="../../index.html">Home</a></li>
							<li><a href="../nosotros.html">Nosotros</a></li>
							<li><a href="../blog.html">Blog</a></li>
							<li><a href="../tienda.html">Tienda</a></li>
							<li><a href="../donaciones.html">Donaciones</a></li>
							<li><a href="#footer">Contacto</a></li>
						</ul>
					</nav>
				</header>
			</div>
			<!-- contenido -->
			<section>
				<div class="imgPrinci">
					<img src="../../img/pensando.jpg">
					<div class="Titulo">
						<h1 class="fondoNegro">Problemas y soluciones</h1>
					</div>
				</div>
				<div class="cuerpo">
					<h2 class="titulo-c alcentro">Problemas y soluciones.</h2>
					<div class="parrafoBlog">
						<br>
						<p>Trabajar desde casa no siempre va a ser un lecho de rosas o recostarse sobre una almohada de plumas, y por eso es que vamos a evaluar ciertos problemas que se presentan por algunas ventajas y cómo solucionarlos de la manera más óptima.</p>
						<p>Al trabajar cómodamente desde nuestros hogares, si tenemos hijos o persona que convivan con nosotros vamos a tener un problema: ellos van a invadir nuestro espacio de trabajo de una u otra manera, en algún momento de nuestra ocupada agenda; entonces ¿ cómo lo solucionamos? La solución es disciplina, estudia y analiza en qué momentos invaden más tu lugar de trabajo y establece horarios de trabajo en los que puedas estar tranquilo y sin ninguna interrupción, si tienes niños trabaja cuando estén en la escuela, si vives con otras personas trabaja cuando no estén en casa o puedes informarles de tus horarios de trabajo y solicitarles que en lo posible no te molesten en esos horarios.</p>
						<p>La independencia económica es un punto muy tentador de emprender por Internet, sin embargo el mayor problema que atrae es el no contar un sueldo fijo con el que contar a fin de mes, entonces ¿qué podemos hacer? De nuevo la respuesta es disciplina Organiza tus actividades y tus horarios de forma que le dediques la misma importancia a la de un trabajo convencional ahora si no crees que puedas subsistir con estos ingresos recuerda que con la creatividad creamos dinero, piensa en nuevas formas de ayudar a tus clientes y así podrás incrementar tus ganancias.</p>
						<p>Al ser independientes no vas a poder tener un jefe directo al cual le rindas cuentas todos los días, por esta razón lo más común es que te tomas más tiempo del necesario para cumplrle a tus clientes y esto puede desencadenarse en clientes insatisfechos y pérdidas de los mismos. Ahora quien nos va a ayudar es la responsabilidad, toda actividad merece respeto y responsabilidad así le demostraremos a los demás y a nosotros mismos qué podemos hacer las cosas solos, de la forma requerida y en el tiempo estimado.</p>
						<p>Por último Cuando trabajamos desde casa creemos que como hacemos las cosas las hacemos bien, y que somos los jueces absolutos de nuestro trabajo, pero esto está muy alejado de la realidad, no siempre la forma en como realizamos las cosas son las más óptimas para nuestros clientes, por lo que la solución es analizar muy detalladamente los requerimientos de nuestros clientes y hacerles entregas continuas esperando retroalimentación de tus clientes para que el trabajo sea de la mejor calidad y lo más personalizado posible, y como ya sabemos eso nos va a generar clientes más felices y fieles.</p>
					</div>
				</div>
				<div>
					<a href="../emprendiendoPorInternet.html" style="color: black; margin-left: 165px;"> Atrás</a>
				</div>
			</section>
			<!--contenido-->
			<!-- footer -->
				<footer id="footer" class="footer">
			<div class="contenedor_footer">
				<div class="contacto">
					<img data-original="../../img/sin_fondo.png" class="img_footer lazy" width="120" height="130">
					<div class="orden">
						<div class="wapp"></div><a href="tel:+573008865375"><strong>Teléfono</strong><span>+(57) 300 886 5375</span></a>
						<a href="mailto:mitalentom@gmail.com"><strong>Email</strong><span>mitalentom@gmail.com</span></a>
					</div>
				</div>
				<form class="formulario" action="https://formspree.io/mitalentom@gmail.com" method="POST">
					<div class="col1">
						<label for="nombre"> Nombre</label>
						<input type="text" required id="nombre">
						<label for="email" > E-mail</label>
						<input type="email" required id="email">
						<div class="sexo">
							<label for="mujer">
								<input type="radio" name="sexo" value="mujer" checked id="mujer"> Mujer
							</label>
							<label for="hombre">
								<input type="radio" name="sexo" value="hombre" id="hombre"> Hombre
							</label>
						</div>
						<div class="interes">
							<label for="freelance">
								<input type="checkbox" name="freelance" checked id="freelance"> Quiero trabajar por Internet
							</label>
							<label for="comentarios">
								<input type="checkbox" name="comentarios" id="comentarios"> comentarios
							</label>
							<label for="talentos">
								<input type="checkbox" name="talentos" id="talentos"> Quiero aprocechar mi talento
							</label>
							<label for="otros">
								<input type="checkbox" name="Otros" id="Otros"> Otros
							</label>
						</div>
						<div class="socialmedia">
							<div class="btn-redes"><a href="https://twitter.com/talentoMi" class="twitter-follow-button" data-show-count="false">Follow @talentoMi</a><script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script></div>
							<div class="btn-redes"><iframe src="https://www.facebook.com/plugins/like.php?href=https%3A%2F%2Fwww.facebook.com%2FMi-Talento-1886912491584512%2F&width=153&layout=button_count&action=like&size=small&show_faces=true&share=true&height=46&appId" width="153" height="25" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true"></iframe></div>
							<div class="g-plusone" data-annotation="inline" data-width="300"></div>
						</div>
					</div>
					<div class="texto">
						<label for="hablemos" class="hablemos">Hablemos</label>
						<textarea id="hablemos" class="hablemos" required="" name="hablemos" cols="30" rows="10"></textarea>
						<div class="derecha hablemos">	
							<input type="submit" value="Enviar" class="transicion">
						</div>
					</div>
				</form>
			</div>
		</footer>
		<div class="derechos">
			<h3> &copy;Copyright <span>Mi Talento</span>  2017 Todos los derechos reservados. <h3>
		</div>
		<script src="../../js/jquery.min.js"></script>
		<script src="../../js/jquery.lazyload.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/hammer.js/2.0.8/hammer.min.js"></script>
		<script src="https://apis.google.com/js/platform.js" async defer></script>
		<script src="../../js/script.js"></script>
	</body>
</html>	