<!DOCTYPE html>
<html>
	<head>
		<title>¿Vender productos o servicios propios?</title>
		<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
		<meta charset="utf-8">
		<meta property="og:url" content="https://pedronelbuiles.github.io/Mitalento/views/blog/productosOserviciosPropios.html"/>
		<meta property="og:type" content="article"/>
		<meta property="og:title" content="¿Vender productos o servicios propios?"/>
		<meta property="og:description" content="Los productos propios tienen grandes ventajas, así como desventajas, entra y conocelas.">
		<meta property="og:image" content="https://pedronelbuiles.github.io/Mitalento/img/productosPropios.jpg">
		<link rel="shorcut icon" href="../../img/logo_sin_fondo.png">
		<link rel="stylesheet" type="text/css" href="../../css/mitalento.min.css">
	</head>
	<body>
		<div>
			<div class="caja">
				<header id="header" class="header contenedor_cabeza">
					<figure class="logo">
						<img src="../../img/logo_sin_fondo.png" id="logo" width="80"  alt="Logo Mi Talento">
						<img src="../../img/Mitalento.png" class="letra_logo">
					</figure>
					<span class="icon-menu btn-menu" id="btn-menu"></span>
					<nav class="menu">
						<ul id="menu">
							<li><a href="../../index.html">Home</a></li>
							<li><a href="../nosotros.html">Nosotros</a></li>
							<li><a href="../blog.html">Blog</a></li>
							<li><a href="../tienda.html">Tienda</a></li>
							<li><a href="../donaciones.html">Donaciones</a></li>
							<li><a href="#footer">Contacto</a></li>
						</ul>
					</nav>
				</header>
			</div>
			<!-- contenido -->
			<section>
				<div class="imgPrinci">
					<img src="../../img/productosPropios.jpg">
					<div class="Titulo">
						<h1 class="fondoNegro">¿Vender productos o servicios propios?</h1>
					</div>
				</div>
				<div class="cuerpo">
					<h2 class="titulo-c alcentro">¿Vender productos o servicios propios?</h2>
					<div class="parrafoBlog">
						<br>
						<p>Te debes estar preguntando cuál es la mejor opción,  elegir vender productos o servicios propios, o por el contrario elegir productos o servicios de afiliado. En este artículo vamos a darte los pros y los contras de vender productos o servicios propios, de esta forma vas a ver lo bueno y lo malo de esta opción.  Ten en cuenta que los producto o servicios perfecto no existen, por lo que debes estar dispuesto a tener algunos problemas, claro que se pueden solucionar trabajando día a día para llegar a la excelencia.</p>
					</div>
					<h3 class="subTitulo">Pros de vender productos o servicios propios.</h3>
					<div class="parrafoBlog">
						<div class="subParrafo">
							<span>&dagger; Tienes el control:</span><p> Cuando vendes tus propios productos o servicios tienes el control absoluto sobre ellos, ¿quieres subir el precio? ¿quieres mejorarlos? ¿Quieres sacar variables del ellos? Todo absolutamente todo lo que quieras hacer está bajo tu control.</p>
							<span>&dagger; Tienes la responsabilidad:</span><p> Eres el responsable de que tus productos o servicios funcionen de la manera correcta y que satisfagan la necesidad que tú quieres que satisfagan.</p>
							<span>&dagger; Tomas las decisiones:</span><p> Las decisiones en cuanto a precio, métodos de pago, personal asociado, cualquier decisión que se tome está en tus manos.</p>
							<span>&dagger; Solo estas tú y el cliente:</span><p> Esto es lo mejor de los productos o servicios propios y es que no tienes que responder o escalar los problemas a nadie eres quien resuelve los problemas de tus clientes directamente, por eso también recibes los créditos por el esfuerzo.</p>
						</div>
					</div>
					<h3 class="subTitulo">Contras de Vender productos o servicios propios.</h3>
					<div class="parrafoBlog">
						<div class="subParrafo">
							<span>&Dagger; Eres quien más trabaja en el proyecto:</span><p> Eres quien tiene el control por lo que eres quien piensa en los precios, las mejoras o los productos relacionados, ¿un nuevo producto? Claro que sí pero eres tú quien lo crea.</p>
							<span>&Dagger; Presión:</span><p> Eres el responsable de los productos o servicios por lo que debes dar la cara por lo malo que salga o si funcionan o no, debes responder a todas las necesidades tanto de los clientes como de los empleados, productos o servicios.</p>
							<span>&Dagger; A investigar:</span><p> Cómo estás encargado de las decisiones debes estar seguro que sean las mejores según a donde vaya tu proyecto, si alguna decisión salió mal debes saber que fuiste tú quien tomó la decisión y no puedes echarle la culpa a nadie.</p>
						</div>
					</div>
					<div class="parrafoBlog">
						<p>Ten presente siempre que en la vida nada es fácil y qué debes luchar muy fuerte por lo que quieres, las cosas no siempre van a ser como tú quieres, pero el principio del éxito radica en saber soportar que las cosas vayan mal sin dejar de avanzar, aguantar sin dejar de avanzar (si lo aprendí de Rocky). Además recuerda que no estás solo en Mi talento estamos para ayudarte a que tengas éxito en tus ventas escojas lo que escojas, ve a la tienda y compra la asesoría, hazlo ahora y comienza a ganar dinero por Internet de la mano de Mi talento.</p>
					</div>
				</div>
			</section>
			<!--contenido-->
			<!-- footer -->
				<footer id="footer" class="footer">
			<div class="contenedor_footer">
				<div class="contacto">
					<img data-original="../../img/sin_fondo.png" class="img_footer lazy" width="120" height="130">
					<div class="orden">
						<div class="wapp"></div><a href="tel:+573008865375"><strong>Teléfono</strong><span>+(57) 300 886 5375</span></a>
						<a href="mailto:mitalentom@gmail.com"><strong>Email</strong><span>mitalentom@gmail.com</span></a>
					</div>
				</div>
				<form class="formulario" action="https://formspree.io/mitalentom@gmail.com" method="POST">
					<div class="col1">
						<label for="nombre"> Nombre</label>
						<input type="text" required id="nombre">
						<label for="email" > E-mail</label>
						<input type="email" required id="email">
						<div class="sexo">
							<label for="mujer">
								<input type="radio" name="sexo" value="mujer" checked id="mujer"> Mujer
							</label>
							<label for="hombre">
								<input type="radio" name="sexo" value="hombre" id="hombre"> Hombre
							</label>
						</div>
						<div class="interes">
							<label for="freelance">
								<input type="checkbox" name="freelance" checked id="freelance"> Quiero trabajar por Internet
							</label>
							<label for="comentarios">
								<input type="checkbox" name="comentarios" id="comentarios"> comentarios
							</label>
							<label for="talentos">
								<input type="checkbox" name="talentos" id="talentos"> Quiero aprocechar mi talento
							</label>
							<label for="otros">
								<input type="checkbox" name="Otros" id="Otros"> Otros
							</label>
						</div>
						<div class="socialmedia">
							<div class="btn-redes"><a href="https://twitter.com/talentoMi" class="twitter-follow-button" data-show-count="false">Follow @talentoMi</a><script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script></div>
							<div class="btn-redes"><iframe src="https://www.facebook.com/plugins/like.php?href=https%3A%2F%2Fwww.facebook.com%2FMi-Talento-1886912491584512%2F&width=153&layout=button_count&action=like&size=small&show_faces=true&share=true&height=46&appId" width="153" height="25" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true"></iframe></div>
							<div class="g-plusone" data-annotation="inline" data-width="300"></div>
						</div>
					</div>
					<div class="texto">
						<label for="hablemos" class="hablemos">Hablemos</label>
						<textarea id="hablemos" class="hablemos" required="" name="hablemos" cols="30" rows="10"></textarea>
						<div class="derecha hablemos">	
							<input type="submit" value="Enviar" class="transicion">
						</div>
					</div>
				</form>
			</div>
		</footer>
		<div class="derechos">
			<h3> &copy;Copyright <span>Mi Talento</span>  2017 Todos los derechos reservados. <h3>
		</div>
		<script src="../../js/jquery.min.js"></script>
		<script src="../../js/jquery.lazyload.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/hammer.js/2.0.8/hammer.min.js"></script>
		<script src="https://apis.google.com/js/platform.js" async defer></script>
		<script src="../../js/script.js"></script>
	</body>
</html>	