<!DOCTYPE html>
<html>
	<head>
		<title>¿Vender productos o servicios de afiliados?</title>
		<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
		<meta charset="utf-8">
		<meta property="og:url" content="https://pedronelbuiles.github.io/Mitalento/views/blog/productosOserviciosAfiliados.html"/>
		<meta property="og:type" content="article"/>
		<meta property="og:title" content="¿Vender productos o servicios de afiliados?"/>
		<meta property="og:description" content="Los productos de afiliados tienen grandes ventajas, así como desventajas, entra y conocelas.">
		<meta property="og:image" content="https://pedronelbuiles.github.io/Mitalento/img/productosAfiliados.png">
		<link rel="shorcut icon" href="../../img/logo_sin_fondo.png">
		<link rel="stylesheet" type="text/css" href="../../css/mitalento.min.css">
	</head>
	<body>
		<div>
			<div class="caja">
				<header id="header" class="header contenedor_cabeza">
					<figure class="logo">
						<img src="../../img/logo_sin_fondo.png" id="logo" width="80"  alt="Logo Mi Talento">
						<img src="../../img/Mitalento.png" class="letra_logo">
					</figure>
					<span class="icon-menu btn-menu" id="btn-menu"></span>
					<nav class="menu">
						<ul id="menu">
							<li><a href="../../index.html">Home</a></li>
							<li><a href="../nosotros.html">Nosotros</a></li>
							<li><a href="../blog.html">Blog</a></li>
							<li><a href="../tienda.html">Tienda</a></li>
							<li><a href="../donaciones.html">Donaciones</a></li>
							<li><a href="#footer">Contacto</a></li>
						</ul>
					</nav>
				</header>
			</div>
			<!-- contenido -->
			<section>
				<div class="imgPrinci">
					<img src="../../img/productosAfiliados.png">
					<div class="Titulo">
						<h1 class="fondoNegro">¿Vender productos o servicios de afiliados?</h1>
					</div>
				</div>
				<div class="cuerpo">
					<h2 class="titulo-c alcentro">¿Vender productos o servicios de afiliados?</h2>
					<div class="parrafoBlog">
						<br>
						<p>Te debes estar preguntando cuál es la mejor opción,  elegir vender productos o servicios propios, o por el contrario elegir productos o servicios de afiliados. En este artículo vamos a darte los pros y los contras de vender productos o servicios propios, de esta forma vas a ver lo bueno y lo malo de esta opción.  Ten en cuenta que los producto o servicios perfecto no existen, por lo que debes estar dispuesto a tener algunos problemas, claro que se pueden solucionar trabajando día a día para llegar a la excelencia.</p>
					</div>
					<h3 class="subTitulo">Pros de vender productos o servicios de afiliados.</h3>
					<div class="parrafoBlog">
						<div class="subParrafo">
							<span>&dagger; Todo está listo:</span><p> Lo mejor de esta opción es que no debes pensar en el producto o servicio, todo está listo para que lo promociones y ganes dinero, el precio, las cantidades, la distribución, los canales de pago, las plataformas de promoción, lo que te imagines está listo para que lo único que debéis hacer es promocionar y comenzar a ganar.</p>
							<span>&dagger; Educación:</span><p> La mayoría de las compañías que buscan revendedores de sus productos o servicios, tienen un espacio de capacitación para educar a sus revendedores en las mejores prácticas de cómo ofrecer los productos o servicios.</p>
							<span>&dagger; Un sistema:</span><p> La empresa ha pensado en todo, es más ha pensado en cómo hacer que funcione el sistema en automático, por lo que muchas veces lo único que debes hacer son tareas o actividades diarias, una o dos veces para garantizar conseguir clientes.</p>
						</div>
					</div>
					<h3 class="subTitulo">Contras de vender productos o servicios de afiliado.</h3>
					<div class="parrafoBlog">
						<div class="subParrafo">
							<span>&Dagger; Sin control:</span><p> No tienen ningún control sobre los productos o servicios que ofrece la compañía, muchas veces si se presenta algún cliente que quiera una mejora en el producto o servicio y que esta no se encuentre en el portafolio de la compañía, lo más seguro es que vas a perder un cliente.</p>
							<span>&Dagger; Procesos de comunicación complejos:</span><p> Si el producto no fue de utilidad para el cliente no vas a poder ayudarlo a menos que tengas una comunicación directa con las personas encargadas de los reclamos en la compañía, por lo que estos canales de comunicación entre el cliente, tú y la compañía casi siempre representan un problema tanto de tiempo como de comunicación.</p>
							<span>&Dagger; Ganancias con tope:</span><p> Lo peor de esto es que tengas ganancias limitadas, es decir por la venta de un producto o servicio vas a recibir un porcentaje, independiente si ya se superó el ingreso ideal para sostener los gastos de compañía, vas a seguir recibiendo el mismo porcentaje de ganancias por la venta del producto o servicio.</p>

							<span>&Dagger; Incertidumbre:</span><p> ¿Cuánto tiempo quieres seguir con el proyecto? Lamento decirte que la respuesta a esta pregunta no te corresponde a ti, al menos no a largo plazo, no eres tú quien decide si abre un día la compañía o si cierra por una semana, un mes o definitivamente, la incertidumbre siempre estará a tu lado.</p>
						</div>
					</div>
					<div class="parrafoBlog">
						<p>Ten presente siempre que en la vida nada es fácil y qué debes luchar muy fuerte por lo que quieres, las cosas no siempre van a ser como tú quieres, pero el principio del éxito radica en saber soportar que las cosas vayan mal sin dejar de avanzar, aguantar sin dejar de avanzar (si lo aprendí de Rocky). Además recuerda que no estás solo en Mi talento estamos para ayudarte a que tengas éxito en tus ventas escojas lo que escojas, ve a la tienda y compra la asesoría, hazlo ahora y comienza a ganar dinero por Internet de la mano de Mi talento.</p>
					</div>
				</div>
			</section>
			<!--contenido-->
			<!-- footer -->
				<footer id="footer" class="footer">
			<div class="contenedor_footer">
				<div class="contacto">
					<img data-original="../../img/sin_fondo.png" class="img_footer lazy" width="120" height="130">
					<div class="orden">
						<div class="wapp"></div><a href="tel:+573008865375"><strong>Teléfono</strong><span>+(57) 300 886 5375</span></a>
						<a href="mailto:mitalentom@gmail.com"><strong>Email</strong><span>mitalentom@gmail.com</span></a>
					</div>
				</div>
				<form class="formulario">
					<div class="col1">
						<label for="nombre"> Nombre</label>
						<input type="text" required id="nombre">
						<label for="email" > E-mail</label>
						<input type="email" required id="email">
						<div class="sexo">
							<label for="mujer">
								<input type="radio" name="sexo" value="mujer" checked id="mujer"> Mujer
							</label>
							<label for="hombre">
								<input type="radio" name="sexo" value="hombre" id="hombre"> Hombre
							</label>
						</div>
						<div class="interes">
							<label for="freelance">
								<input type="checkbox" name="freelance" checked id="freelance"> Quiero trabajar por Internet
							</label>
							<label for="comentarios">
								<input type="checkbox" name="comentarios" id="comentarios"> comentarios
							</label>
							<label for="talentos">
								<input type="checkbox" name="talentos" id="talentos"> Quiero aprocechar mi talento
							</label>
							<label for="otros">
								<input type="checkbox" name="Otros" id="Otros"> Otros
							</label>
						</div>
						<div class="socialmedia">
							<div class="btn-redes"><a href="https://twitter.com/talentoMi" class="twitter-follow-button" data-show-count="false">Follow @talentoMi</a><script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script></div>
							<div class="btn-redes"><iframe src="https://www.facebook.com/plugins/like.php?href=https%3A%2F%2Fwww.facebook.com%2FMi-Talento-1886912491584512%2F&width=153&layout=button_count&action=like&size=small&show_faces=true&share=true&height=46&appId" width="153" height="25" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true"></iframe></div>
							<div class="g-plusone" data-annotation="inline" data-width="300"></div>
						</div>
					</div>
					<div class="texto">
						<label for="hablemos" class="hablemos">Hablemos</label>
						<textarea id="hablemos" class="hablemos" required="" name="hablemos" cols="30" rows="10"></textarea>
						<div class="derecha hablemos">	
							<input type="submit" value="Enviar" class="transicion">
						</div>
					</div>
				</form>
			</div>
		</footer>
		<div class="derechos">
			<h3> &copy;Copyright <span>Mi Talento</span>  2017 Todos los derechos reservados. <h3>
		</div>
		<script src="../../js/jquery.min.js"></script>
		<script src="../../js/jquery.lazyload.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/hammer.js/2.0.8/hammer.min.js"></script>
		<script src="https://apis.google.com/js/platform.js" async defer></script>
		<script src="../../js/script.js"></script>
	</body>
</html>	