<!DOCTYPE html>
<html>
	<head>
		<title>¿Qué se puede vender por Internet?</title>
		<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
		<meta charset="utf-8">
		<meta property="og:url" content="https://pedronelbuiles.github.io/Mitalento/views/blog/queVenderPorInternet.html"/>
		<meta property="og:type" content="article"/>
		<meta property="og:title" content="¿Qué se puede vender por Internet?"/>
		<meta property="og:description" content="Descubre que se puede vender por Internet y haz la mejor elección.">
		<meta property="og:image" content="https://pedronelbuiles.github.io/Mitalento/img/tiendaOnline.jpg">
		<link rel="shorcut icon" href="../../img/logo_sin_fondo.png">
		<link rel="stylesheet" type="text/css" href="../../css/mitalento.css">
	</head>
	<body>
		<div>
			<div class="caja">
				<header id="header" class="header contenedor_cabeza">
					<figure class="logo">
						<img src="../../img/logo_sin_fondo.png" id="logo" width="80"  alt="Logo Mi Talento">
						<img src="../../img/Mitalento.png" class="letra_logo">
					</figure>
					<span class="icon-menu btn-menu" id="btn-menu"></span>
					<nav class="menu">
						<ul id="menu">
							<li><a href="../../index.html">Home</a></li>
							<li><a href="../nosotros.html">Nosotros</a></li>
							<li><a href="../blog.html">Blog</a></li>
							<li><a href="../tienda.html">Tienda</a></li>
							<li><a href="../donaciones.html">Donaciones</a></li>
							<li><a href="#footer">Contacto</a></li>
						</ul>
					</nav>
				</header>
			</div>
			<!-- contenido -->
			<section>
				<div class="imgPrinci">
					<img src="../../img/tiendaOnline.jpg">
					<div class="Titulo">
						<h1 class="fondoNegro">¿Qué se puede vender por Internet?</h1>
					</div>
				</div>
				<div class="cuerpo">
					<h2 class="titulo-c alcentro">¿Qué se puede vender por Internet?</h2>
					<div class="parrafoBlog">
						<br>
						<p>En Internet podemos vender absolutamente todo lo que queramos cosas legales e ilegales, tangibles e intangibles, productos o servicios y todo lo que se te ocurra lo podemos vender por Internet. Claro no recomiendo vender cosas ilegales, revisa muy bien las leyes para no caer preso. A pesar de que Internet se presta para vender lo que sea debes tener muy en claro que los productos estrellas NO existen, todo el mundo no quiere lo mismo, ni siquiera con respecto al dinero, puede que la mayoría quiera tenerlo, pero siempre habrá personas que no lo quieran y eso no está mal, simplemente debes conocer a quien le vas a vender.</p>
						<p>Ahora bien debes saber que vender es solo un intercambio de emociones y por esto debes conocer muy bien a las personas que comprarán lo que vendes (nicho de mercado), con el fin de poder conocer sus emociones y así crear ventas. Igualmente debes conocer muy bien tu producto porque necesitas generar emociones con él, recuerda una venta es solo un intercambio de emociones por lo que poder transmitir las emociones correctas es vital para el proceso de la venta.</p>
						<p>Vamos a darte un consejo y es que cualquier cosa que vendas debe estar íntimamente relacionada con tus talento y habilidades, de esta maneras te aseguras que por lo menos conoces lo que vas a vender y así generar confianza en tu cliente.</p>
					</div>
					<h3 class="titulo-f alcentro">Clasificación de las ventas.</h3>
					<div class="parrafoBlog">
						<p>Podríamos dividir las ventas en 2 secciones la primera son los productos ya sea tangibles o intangibles y la segunda son los servicios, hay una gran diferencia entre los dos y está radica en su posesión, un producto se puede poseer ya sea tangible como un auto o intangible como sistema operativo de tu computadora; por otro lado un servicio no se puede poseer sólo se puede utilizar como por ejemplo los servicios médicos o el servicio de transporte público.</p>
						<p>Ambos los podemos subdividir de nuevo en dos ramas que son más importantes que lo que vendes en sí mismo, la primera son las ventas propias y la segunda las ventas de afiliado. Diferenciarlas en mucho más fácil, un producto/servicio es propio cuando tú lo puedes modificar si así lo deseas o lo requieres, cosa que no sucede si es un producto/servicio de afiliado el cual para su modificación debe tener el consentimiento de muchas otras personas.</p>
					</div>
					<div class="parrafoBlog">
						<h3 class="titulo-f alcentro"> Qué opción es más rentable.</h3>
						<p>Desde Mi talento te informamos que así como no existe un producto estrella tampoco existe una opción mejor que la otra, todo tu éxito va a depender de tus buenas decisiones, siempre enfócate en que lo que vendas esté relacionado con tus talentos y habilidades, si tu talento es promocionar las buenas ideas de otro pues te recomendamos lo productos de afiliados y que busques los mejores porcentajes de comisión para ganar más, y si eres muy bueno con las manualidades porque no crear tu propia marca.</p>
						<p>Sea cual sea la forma que elijas en Mi talento te ayudamos a que tengas las mejores decisiones, y si necesitas ayuda personalizada no dudes en entrar a la tienda y comprar la asesoría personalizada para juntos poder ganar dinero por Internet.</p>
					</div>
				</div>
			</section>
			<!--contenido-->
			<!-- footer -->
				<footer id="footer" class="footer">
			<div class="contenedor_footer">
				<div class="contacto">
					<img data-original="../../img/sin_fondo.png" class="img_footer lazy" width="120" height="130">
					<div class="orden">
						<div class="wapp"></div><a href="tel:+573008865375"><strong>Teléfono</strong><span>+(57) 300 886 5375</span></a>
						<a href="mailto:mitalentom@gmail.com"><strong>Email</strong><span>mitalentom@gmail.com</span></a>
					</div>
				</div>
				<form class="formulario">
					<div class="col1">
						<label for="nombre"> Nombre</label>
						<input type="text" required id="nombre">
						<label for="email" > E-mail</label>
						<input type="email" required id="email">
						<div class="sexo">
							<label for="mujer">
								<input type="radio" name="sexo" value="mujer" checked id="mujer"> Mujer
							</label>
							<label for="hombre">
								<input type="radio" name="sexo" value="hombre" id="hombre"> Hombre
							</label>
						</div>
						<div class="interes">
							<label for="freelance">
								<input type="checkbox" name="freelance" checked id="freelance"> Quiero trabajar por Internet
							</label>
							<label for="comentarios">
								<input type="checkbox" name="comentarios" id="comentarios"> comentarios
							</label>
							<label for="talentos">
								<input type="checkbox" name="talentos" id="talentos"> Quiero aprocechar mi talento
							</label>
							<label for="otros">
								<input type="checkbox" name="Otros" id="Otros"> Otros
							</label>
						</div>
						<div class="socialmedia">
							<div class="btn-redes"><a href="https://twitter.com/talentoMi" class="twitter-follow-button" data-show-count="false">Follow @talentoMi</a><script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script></div>
							<div class="btn-redes"><iframe src="https://www.facebook.com/plugins/like.php?href=https%3A%2F%2Fwww.facebook.com%2FMi-Talento-1886912491584512%2F&width=153&layout=button_count&action=like&size=small&show_faces=true&share=true&height=46&appId" width="153" height="25" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true"></iframe></div>
							<div class="g-plusone" data-annotation="inline" data-width="300"></div>
						</div>
					</div>
					<div class="texto">
						<label for="hablemos" class="hablemos">Hablemos</label>
						<textarea id="hablemos" class="hablemos" required="" name="hablemos" cols="30" rows="10"></textarea>
						<div class="derecha hablemos">	
							<input type="submit" value="Enviar" class="transicion">
						</div>
					</div>
				</form>
			</div>
		</footer>
		<div class="derechos">
			<h3> &copy;Copyright <span>Mi Talento</span>  2017 Todos los derechos reservados. <h3>
		</div>
		<script src="../../js/jquery.min.js"></script>
		<script src="../../js/jquery.lazyload.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/hammer.js/2.0.8/hammer.min.js"></script>
		<script src="https://apis.google.com/js/platform.js" async defer></script>
		<script src="../../js/script.js"></script>
	</body>
</html>	