<!DOCTYPE html>
<html>
	<head>
		<title>Comenzando con el teletrabajo.</title>
		<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
		<meta charset="utf-8">
		<meta property="og:url" content="https://pedronelbuiles.github.io/Mitalento/views/blog/introduccionEmprendiendo.html"/>
		<meta property="og:type" content="article"/>
		<meta property="og:title" content="Comenzando con el teletrabajo."/>
		<meta property="og:description" content="Siempre en todo proceso debemos dar los primeros pasos, aquí puedes ver los comienzos del telerabajo.">
		<meta property="og:image" content="https://pedronelbuiles.github.io/Mitalento/imgNoMin/marketplaces.png">
		<link rel="shorcut icon" href="../../img/logo_sin_fondo.png">
		<link rel="stylesheet" type="text/css" href="../../css/mitalento.min.css">
	</head>
	<body>
		<div>
			<div class="caja">
				<header id="header" class="header contenedor_cabeza">
					<figure class="logo">
						<img src="../../img/logo_sin_fondo.png" id="logo" width="80"  alt="Logo Mi Talento">
						<img src="../../img/Mitalento.png" class="letra_logo">
					</figure>
					<span class="icon-menu btn-menu" id="btn-menu"></span>
					<nav class="menu">
						<ul id="menu">
							<li><a href="../../index.html">Home</a></li>
							<li><a href="../nosotros.html">Nosotros</a></li>
							<li><a href="../blog.html">Blog</a></li>
							<li><a href="../tienda.html">Tienda</a></li>
							<li><a href="../donaciones.html">Donaciones</a></li>
							<li><a href="#footer">Contacto</a></li>
						</ul>
					</nav>
				</header>
			</div>
			<!-- contenido -->
			<section>
				<div class="imgPrinci">
					<img src="../../imgNoMin/marketplaces.png" style="top: 0;">
					<div class="Titulo">
						<h1 class="fondoBlanco">Comenzando con el teletrabajo.</h1>
					</div>
				</div>
				<div class="cuerpo">
					<h2 class="titulo-c">Comenzando con el teletrabajo.</h2>
					<p class="primerHijo">La pregunta más frecuente es: ¿Qué es lo que debo hacer para teletrabajar? pero la respuesta no es solo una, porque debes cumplir algunos requisitos y realizar ciertos procesos dependiendo de que quieras hacer y de que sabes hacer.</p>
					<p>Lo que vamos a hablar aquí es, simplemente los primeros pasos para teletrabajadores que realicen trabajos por medio de una computadora o tengan contacto con una en el proceso de trabajo.</p>
					<p>Comencemos entonces. ¿Dónde encontramos teletrabajo? Existen multiples plataformas que nos facilitan el proceso de conocer vacantes o proyectos donde se pueden aprovechar nuestros talentos y pagarnos por ello. Vamos a comenzar con las dos más famosas, lo que no quiere decir que las demás (por que hay muchas) no sirvan o sean menos efectivas, solo lo son dos plataformas a modo de ejemplo, para que puedas conocer o por lo menos usmear en este mundo del teletrabajo.</p>
					<p>La primera es <a href="https://www.workana.com/" style="color: gray;">Workana.</a> Está es la plataforma de teletrabajo más usada por los hispano hablantes, por lo que no es necesario que hables ingles para poder conseguir proyectos por esta plataforma. En el momento lo que vamos a hacer es registrarnos, de esta manera podremos usarla y comenzar con nuestro viaje. Entramos en cualquiera de los dos enlaces "Registrate" o "Trabaja como freelancer". Registrate como te sea más fácil, si puedes hacerlo con Facebook mejor.</p>
					<p>Una vez termines te va a pedir algunos datos sobre tu información personal y laboral, mientras más completa está más nivel vas a obtener y así un mejor perfil.</p>
					<img src="../../imgNoMin/workanaRegistro.png" width="900" style="margin: 0 auto; display: block;">
					<p>La segunda es <a href="https://www.freelancer.com.co/" style="color: gray;">Freelancer.</a> Una de las páginass más antiguas y con una gran comunidad, tanto de teletrabajadores como de contratantes a nivel mundial. Como en la anterior lo único que vamos a hacer por ahora es registrarnos, dando click en "Quiero trabajar" o en "Registrarse" y seleccionamos el metodo que mejor se nos acomode, tendremos la opción de  resgistrarnos con Facebook para que te sea más fácil..</p>
					<img src="../../imgNoMin/FreelancerRegistro.png" width="900" style="margin: 0 auto; display: block;">
					<p>Una vez estes registrado te pedirá que selecciones máximo 20 habilidades en las cuales desempeñarte, escoje sabiamente; luego para terminar te dará la opción de probar el servicio premium por un tiempo gratis, mi recomendación es que si estás dispuesto a tomarte esto muy enserio, toma la pruba gratis, creéme en menos de lo que piensas tendras para pagar el servicio y lo mejor gratis. Claro está si aún no estas decidido y solo lo haces por probar y experimentar, puedes omitir este paso y es lo que te recomiendo, despues puedes obtener está prueba gratuita.</p>
					<br>
					<p>Queremos que te familiarices con las plataformas por lo que te aconsejamos que des un paseo por ellas entra a ofertas, leelas y analizalas. Mira a otros freelancers, estudialos, busca información en sus foros y tutoriales.</p>
				</div>
				<div>
					<a href="../trabajandoPorInternet.html" style="color: black; margin-left: 165px;"> Atrás</a>
				</div>
			</section>
			<!--contenido-->
			<!-- footer -->
				<footer id="footer" class="footer">
			<div class="contenedor_footer">
				<div class="contacto">
					<img data-original="../../img/sin_fondo.png" class="img_footer lazy" width="120" height="130">
					<div class="orden">
						<div class="wapp"></div><a href="tel:+573008865375"><strong>Teléfono</strong><span>+(57) 300 886 5375</span></a>
						<a href="mailto:mitalentom@gmail.com"><strong>Email</strong><span>mitalentom@gmail.com</span></a>
					</div>
				</div>
				<form class="formulario" action="https://formspree.io/mitalentom@gmail.com" method="POST">
					<div class="col1">
						<label for="nombre"> Nombre</label>
						<input type="text" required id="nombre">
						<label for="email" > E-mail</label>
						<input type="email" required id="email">
						<div class="sexo">
							<label for="mujer">
								<input type="radio" name="sexo" value="mujer" checked id="mujer"> Mujer
							</label>
							<label for="hombre">
								<input type="radio" name="sexo" value="hombre" id="hombre"> Hombre
							</label>
						</div>
						<div class="interes">
							<label for="freelance">
								<input type="checkbox" name="freelance" checked id="freelance"> Quiero trabajar por Internet
							</label>
							<label for="comentarios">
								<input type="checkbox" name="comentarios" id="comentarios"> comentarios
							</label>
							<label for="talentos">
								<input type="checkbox" name="talentos" id="talentos"> Quiero aprocechar mi talento
							</label>
							<label for="otros">
								<input type="checkbox" name="Otros" id="Otros"> Otros
							</label>
						</div>
						<div class="socialmedia">
							<div class="btn-redes"><a href="https://twitter.com/talentoMi" class="twitter-follow-button" data-show-count="false">Follow @talentoMi</a><script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script></div>
							<div class="btn-redes"><iframe src="https://www.facebook.com/plugins/like.php?href=https%3A%2F%2Fwww.facebook.com%2FMi-Talento-1886912491584512%2F&width=153&layout=button_count&action=like&size=small&show_faces=true&share=true&height=46&appId" width="153" height="25" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true"></iframe></div>
							<div class="g-plusone" data-annotation="inline" data-width="300"></div>
						</div>
					</div>
					<div class="texto">
						<label for="hablemos" class="hablemos">Hablemos</label>
						<textarea id="hablemos" class="hablemos" required="" name="hablemos" cols="30" rows="10"></textarea>
						<div class="derecha hablemos">	
							<input type="submit" value="Enviar" class="transicion">
						</div>
					</div>
				</form>
			</div>
		</footer>
		<div class="derechos">
			<h3> &copy;Copyright <span>Mi Talento</span>  2017 Todos los derechos reservados. <h3>
		</div>
		<script src="../../js/jquery.min.js"></script>
		<script src="../../js/jquery.lazyload.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/hammer.js/2.0.8/hammer.min.js"></script>
		<script src="https://apis.google.com/js/platform.js" async defer></script>
		<script src="../../js/script.js"></script>
	</body>
</html>	