<!DOCTYPE html>
<html>
	<head>
		<title>Trabajar por Internet</title>
		<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
		<meta charset="utf-8">
		<meta property="og:url" content="https://pedronelbuiles.github.io/Mitalento/views/blog/trabajarPorInternet.html"/>
		<meta property="og:type" content="article"/>
		<meta property="og:title" content="Trabajar por Internet"/>
		<meta property="og:description" content="Trabajar por Internet es el futuro de la economia ¿te vas a quedar atras?">
		<meta property="og:image" content="https://pedronelbuiles.github.io/Mitalento/img/ganaDineroPorInternet.jpg">
		<link rel="shorcut icon" href="../../img/logo_sin_fondo.png">
		<link rel="stylesheet" type="text/css" href="../../css/mitalento.min.css">
	</head>
	<body>
		<div>
			<div class="caja">
				<header id="header" class="header contenedor_cabeza">
					<figure class="logo">
						<img src="../../img/logo_sin_fondo.png" id="logo" width="80"  alt="Logo Mi Talento">
						<img src="../../img/Mitalento.png" class="letra_logo">
					</figure>
					<span class="icon-menu btn-menu" id="btn-menu"></span>
					<nav class="menu">
						<ul id="menu">
							<li><a href="../../index.html">Home</a></li>
							<li><a href="../nosotros.html">Nosotros</a></li>
							<li><a href="../blog.html">Blog</a></li>
							<li><a href="../tienda.html">Tienda</a></li>
							<li><a href="../donaciones.html">Donaciones</a></li>
							<li><a href="#footer">Contacto</a></li>
						</ul>
					</nav>
				</header>
			</div>
			<!-- contenido -->
			<section>
				<div class="imgPrinci">
					<img src="../../img/ganaDineroPorInternet.jpg">
					<div class="Titulo">
						<h1 class="fondoBlanco">Trabajar por Internet.</h1>
					</div>
				</div>
				<div class="cuerpo">
					<h2 class="titulo-c alcentro">¿Cómo trabajar por Internet?</h2>
					<div class="parrafoBlog">
						<br><br><p>Surgen muchas preguntas cuando hablamos de “trabajar por Internet” y es por eso que me gusta llamarlo de otra manera: generar ingresos por Internet.  Métodos para generar ingresos por Internet hay muchos, sin embargo en esta ocasión nos referiremos a cómo entrar en el mundo de los ingresos por Internet.</p>
						<p>Es bien sabido que el Internet se está tomando el mundo y es por eso que debemos estar metidos hasta el cuello para sacarle el mayor provecho a la situación actual, ahora ¿cómo ingresar a este mundo digital? La verdad es muy simple, nada que se diferencie de el mundo exterior, y como en el exterior tenemos unos requisitos que debemos cumplir si queremos tener éxito en nuestro emprendimiento por Internet.</p>
					</div>
					<h3 class="Titulo-f alcentro">Requisitos</h3>
					<div class="parrafoBlog" >
						<ul class="checklist">
							<li>Producto o servicio a ofrecer.</li>
							<li>Medio de comunicación con nuestros clientes.</li>
							<li>Impletos de trabajo.</li>
							<li>Pensamientos necesarios.</li>
						</ul>
					</div>
					<br><br>
					<h3 class="subTitulo">Producto o servicio a ofrecer:</h3>
					<div class="parrafoBlog">
						<p>¿Cómo genera ingresos una empresa? Por medio de la venta de sus productos o servicios. Nosotros somos una empresa, y en Internet nos mostramos como tal, es por esto que debes tener un producto o un servicio que ofrecer a tus clientes.</p>
						<p>Muchas personas creen que no tienen ningún producto o servicio que ofrecer a los demás, pero eso es completamente falso y en caso de que simplemente no quieras desarrollar tu talento, siempre puedes ofrecer los productos o servicios de terceros.</p>
						<p>Cuando ofrecemos productos o servicios de terceros cometemos un error y es que nos limitamos al desarrollo personal y como el nombre de nuestra plataforma lo dice lo que importa es nuestro talento, Mi talento es lo que marca la diferencia; claro está que si tu ta	lento es promocionar a otros eso no está mal, pero recuerda que siempre puedes promocionarte tu.</p>
					</div>
					<h3 class="subTitulo">Medio de comunicación con nuestros clientes.</h3>
					<div class="parrafoBlog">
						<p>Internet en sí es un medio de comunicación, sin embargo, dentro de él nos ofrece diferentes medios de comunicación, podemos tener un blog, una página web, un fanpage, un canal, entre otros. La recomendación que hacemos desde Mi talento es que los uses todos , pero úsalos de la manera correcta, recuerda que en youtube puedes mostrar cosas muy hermosas que hagas, pero no aplica para todos; por ejemplo puedes montar un vídeo sobre lo bueno que eres con las palabras, pero si tu producto es la redacción de texto poco o nada haces con un vídeo, en ese caso la mejor opción es un blog o una página de opinión.</p>
					</div>
					<h3 class="subTitulo">Impletos de trabajo.</h3>
					<div class="parrafoBlog">
						<p>Son simples y lógicos: una computadora o dispositivos con acceso a Internet, sino ¿cómo ingresamos al mundo online? Una conexión a Internet, puede ser la tuya como puede ser la de la biblioteca o la de la tienda de café que más te gusta, es tu elección; y por último pero no menos importante tu espacio en Internet.</p>
					</div>
					<h3 class="subTitulo">Pensamientos necesarios.</h3>
					<div class="parrafoBlog">
						<p>Este es quizás el punto decisivo sobre si generas muchas o pocas ganancias en Internet. Lo hermoso de Internet y su economía es que no dependes de nadie, es decir si tu idea es buena y la planteas de la manera correcta, con la comunicación necesaria y sigues una estrategia desarrollada para tu idea específicamente, tu negocio en Internet se disparará y generan tantas ganancias que no sabrás qué hacer con ellas. Pero todo esto solo será posible si tienes lo pensamientos necesarios.</p>
						<p>Pero ¿como cuales? te dejare un pequeño abrebocas porque hablaré con más énfasis de ello en otra ocasión; necesitarás: Pasión. disciplina, determinación, actitud positiva, grandes metas,amor por lo que haces, y lo más importante, en Colombia lo llamamos tozudez pero no es más que tener confianza en que lo que hacemos está bien y que lo lograremos porque eso es lo que hacemos ahora mismo.</p>
						<p>Como ves generar ingresos por Internet no es algo del otro mundo, es más, se asemeja mucho a lo que es generar ingresos en el mundo real; si quieres profundizar más en estos temas, tenemos guias diseñadas específicamente para acompañarte de la mano desde el primer momento que emprendas en el mundo online; como también si ya tienes un negocio en el mundo real y lo quieres llevar al mundo online para maximizar tus ganancias por Internet, puedes tomar la asesoría donde resolveremos tus dudas y te acompañaremos durante 2 semanas, comprarlo ahora por vía Internet con la ayuda de nuestras múltiples formas de pago.</p>
					</div>
				</div>
			</section>
			<!--contenido-->
			<!-- footer -->
				<footer id="footer" class="footer">
			<div class="contenedor_footer">
				<div class="contacto">
					<img data-original="../../img/sin_fondo.png" class="img_footer lazy" width="120" height="130">
					<div class="orden">
						<div class="wapp"></div><a href="tel:+573008865375"><strong>Teléfono</strong><span>+(57) 300 886 5375</span></a>
						<a href="mailto:mitalentom@gmail.com"><strong>Email</strong><span>mitalentom@gmail.com</span></a>
					</div>
				</div>
				<form class="formulario">
					<div class="col1">
						<label for="nombre"> Nombre</label>
						<input type="text" required id="nombre">
						<label for="email" > E-mail</label>
						<input type="email" required id="email">
						<div class="sexo">
							<label for="mujer">
								<input type="radio" name="sexo" value="mujer" checked id="mujer"> Mujer
							</label>
							<label for="hombre">
								<input type="radio" name="sexo" value="hombre" id="hombre"> Hombre
							</label>
						</div>
						<div class="interes">
							<label for="freelance">
								<input type="checkbox" name="freelance" checked id="freelance"> Quiero trabajar por Internet
							</label>
							<label for="comentarios">
								<input type="checkbox" name="comentarios" id="comentarios"> comentarios
							</label>
							<label for="talentos">
								<input type="checkbox" name="talentos" id="talentos"> Quiero aprocechar mi talento
							</label>
							<label for="otros">
								<input type="checkbox" name="Otros" id="Otros"> Otros
							</label>
						</div>
						<div class="socialmedia">
							<div class="btn-redes"><a href="https://twitter.com/talentoMi" class="twitter-follow-button" data-show-count="false">Follow @talentoMi</a><script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script></div>
							<div class="btn-redes"><iframe src="https://www.facebook.com/plugins/like.php?href=https%3A%2F%2Fwww.facebook.com%2FMi-Talento-1886912491584512%2F&width=153&layout=button_count&action=like&size=small&show_faces=true&share=true&height=46&appId" width="153" height="25" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true"></iframe></div>
							<div class="g-plusone" data-annotation="inline" data-width="300"></div>
						</div>
					</div>
					<div class="texto">
						<label for="hablemos" class="hablemos">Hablemos</label>
						<textarea id="hablemos" class="hablemos" required="" name="hablemos" cols="30" rows="10"></textarea>
						<div class="derecha hablemos">	
							<input type="submit" value="Enviar" class="transicion">
						</div>
					</div>
				</form>
			</div>
		</footer>
		<div class="derechos">
			<h3> &copy;Copyright <span>Mi Talento</span>  2017 Todos los derechos reservados. <h3>
		</div>
		<script src="../../js/jquery.min.js"></script>
		<script src="../../js/jquery.lazyload.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/hammer.js/2.0.8/hammer.min.js"></script>
		<script src="https://apis.google.com/js/platform.js" async defer></script>
		<script src="../../js/script.js"></script>
	</body>
</html>	