<!DOCTYPE html>
<html>
	<head>
		<title>Embudo de ventas sistema piramidal</title>
		<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
		<meta charset="utf-8">
		<meta property="og:url" content="https://pedronelbuiles.github.io/Mitalento/views/blog/ventasPiramide.html"/>
		<meta property="og:type" content="article"/>
		<meta property="og:title" content="Embudo de ventas sistema piramidal"/>
		<meta property="og:description" content="¿Ya sabes que es un embudo de ventas? en Mi talento te mostramos uno muy simple.">
		<meta property="og:image" content="https://pedronelbuiles.github.io/Mitalento/img/embudoDeVentas.png">
		<link rel="shorcut icon" href="../../img/logo_sin_fondo.png">
		<link rel="stylesheet" type="text/css" href="../../css/mitalento.min.css">
	</head>
	<body>
		<div>
			<div class="caja">
				<header id="header" class="header contenedor_cabeza">
					<figure class="logo">
						<img src="../../img/logo_sin_fondo.png" id="logo" width="80"  alt="Logo Mi Talento">
						<img src="../../img/Mitalento.png" class="letra_logo">
					</figure>
					<span class="icon-menu btn-menu" id="btn-menu"></span>
					<nav class="menu">
						<ul id="menu">
							<li><a href="../../index.html">Home</a></li>
							<li><a href="../nosotros.html">Nosotros</a></li>
							<li><a href="../blog.html">Blog</a></li>
							<li><a href="../tienda.html">Tienda</a></li>
							<li><a href="../donaciones.html">Donaciones</a></li>
							<li><a href="#footer">Contacto</a></li>
						</ul>
					</nav>
				</header>
			</div>
			<!-- contenido -->
			<section>
				<div class="imgPrinci">
					<img src="../../img/embudoDeVentas.png" style="top: -130px;">
					<div class="Titulo">
						<h1 class="fondoNegro">Embudo de ventas sistema piramidal</h1>
					</div>
				</div>
				<div class="cuerpo">
					<h2 class="titulo-c alcentro">Embudo de ventas sistema piramidal</h2>
					<div class="parrafoBlog">
						<br>
						<p>El término pirámide se ha vuelto muy popular últimamente, tanto por temas de ilegalidad como por oportunidades de negocio; justo por eso el día de hoy queremos hablarte de un sistema basado en la estructura más sólida conocida por la humanidad, el triángulo o más conocida como pirámide. No te asustes, en vez de eso aprende cómo hacer un sistema de ventas muy sólido y funcional en base a estos conocimientos.</p>
					</div>
					<h3 class="titulo-f alcentro">Partes de la pirámide:</h3>
					<div class="parrafoBlog">
						<p>Todas las pirámides tienen muchas partes sin embargo a nosotros solo nos importan 3 (tres) debido a que una de ellas se puede transformar en muchas, por esto al compactamos solo en una parte para una mejor explicación.</p>
					</div>
					<h3 class="subTitulo">Base</h3>
					<div class="parrafoBlog">
						<p>La base de la pirámide corresponde a los prospectos de tu negocio, es decir las posibles clientes, personas interesadas en comprar tu producto/servicio, que necesiten satisfacer una necesidad con el mismo y lo más importante que cuenten con los recursos necesarios para poder comprar.  Debemos llamar la atención de tus prospectos por lo que aquí es muy importante resaltar el valor agregado de tu propuesta, toca sus sentimientos y si lo puedes enganchar con regalos que lo encaminan a comprarte mejor. Hasta este punto lo más importante es llamar la atención de tus prospectos solo enfócate en eso.</p>
					</div>
					<h3 class="subTitulo">medio</h3>
					<div class="parrafoBlog">
						<p>Esta es la parte que se puede dividir en muchas otras, porque aquí es donde radican tus productos/servicios básicos, los productos/servicios que ofreces normalmente, esta es la parte donde los prospectos pasan a ser clientes, para entrar en esta parte de la pirámide los clientes deben por lo menos comprar un producto/servicio que ofrezcas.  Está parte de puede dividir cuantas veces quieras, clientes recurrentes, productos/servicios medios, referidos, enrutamiento a nuevos productos/servicios,  lo ideal aquí es que impulses a tus clientes a obtener mejores beneficios gracias a tus productos/servicios.</p>
					</div>
					<h3 class="subTitulo">sima</h3>
					<div class="parrafoBlog">
						<p>La sima de nuestra pirámide es la parte más importante porque aquí radican tus productos/servicios Premium, los personalizados, esos que te dan un gran margen de ganancia y que quieres que todos compren. Además hay un parte más importante en la sima y trata sobre tu relación con estos que son tus mejores clientes; debes velar por fidelizarlos, enamorarse de ti de tu marca, de tu proyecto; te aseguro que es mucho más fácil (si ya has hecho un buen trabajo en las dos otras partes) fidelizar clientes que ya confíen en ti que atraer nuevos clientes, debes gastar la mayor parte de tu energía, atención y creatividad con estos clientes, dependiendo de cuán bueno sea tu trabajo con ellos puedes satisfacer los gastos  básicos y que los demás clientes sean ganancias puras.</p>
					</div>
					<div class="parrafoBlog">
						<p>Como puedes ver las pirámides no siempre son sinónimo de estafas, pueden ayudarnos mucho, incluso pueden ayudarnos a ayudar a otros, lo que siempre debes tener muy en cuenta cuando estés en un negocio es identificar si tiene una base un medio y una sima, si identificas esas partes puedes estar seguro de que utilizan un sistema piramidal; no te asustes, tampoco lo critiques, estúdialo y analízalo a conciencia y después puedes sacar tus conclusiones. En Mi talento tenemos una máxima que queremos que utilices cuando analices negocios que te propongan: “Cuando sabes que vendes, sabes quién gana”.</p>
						<p>Recuerda que estamos aquí para ayudarte a que tengas un gran éxito ganando dinero por Internet, siempre que tengas una duda y necesites ayuda busca en nuestra tienda la asesoría y pregúntanos, con mucho gusto nosotros te ayudaremos a que ganes más dinero por Internet, juntos podemos hacerlo, tus ganas y la ayuda de Mi talento lo pueden todo.</p>
					</div>
				</div>
			</section>
			<!--contenido-->
			<!-- footer -->
				<footer id="footer" class="footer">
			<div class="contenedor_footer">
				<div class="contacto">
					<img data-original="../../img/sin_fondo.png" class="img_footer lazy" width="120" height="130">
					<div class="orden">
						<div class="wapp"></div><a href="tel:+573008865375"><strong>Teléfono</strong><span>+(57) 300 886 5375</span></a>
						<a href="mailto:mitalentom@gmail.com"><strong>Email</strong><span>mitalentom@gmail.com</span></a>
					</div>
				</div>
				<form class="formulario" action="https://formspree.io/mitalentom@gmail.com" method="POST">
					<div class="col1">
						<label for="nombre"> Nombre</label>
						<input type="text" required id="nombre">
						<label for="email" > E-mail</label>
						<input type="email" required id="email">
						<div class="sexo">
							<label for="mujer">
								<input type="radio" name="sexo" value="mujer" checked id="mujer"> Mujer
							</label>
							<label for="hombre">
								<input type="radio" name="sexo" value="hombre" id="hombre"> Hombre
							</label>
						</div>
						<div class="interes">
							<label for="freelance">
								<input type="checkbox" name="freelance" checked id="freelance"> Quiero trabajar por Internet
							</label>
							<label for="comentarios">
								<input type="checkbox" name="comentarios" id="comentarios"> comentarios
							</label>
							<label for="talentos">
								<input type="checkbox" name="talentos" id="talentos"> Quiero aprocechar mi talento
							</label>
							<label for="otros">
								<input type="checkbox" name="Otros" id="Otros"> Otros
							</label>
						</div>
						<div class="socialmedia">
							<div class="btn-redes"><a href="https://twitter.com/talentoMi" class="twitter-follow-button" data-show-count="false">Follow @talentoMi</a><script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script></div>
							<div class="btn-redes"><iframe src="https://www.facebook.com/plugins/like.php?href=https%3A%2F%2Fwww.facebook.com%2FMi-Talento-1886912491584512%2F&width=153&layout=button_count&action=like&size=small&show_faces=true&share=true&height=46&appId" width="153" height="25" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true"></iframe></div>
							<div class="g-plusone" data-annotation="inline" data-width="300"></div>
						</div>
					</div>
					<div class="texto">
						<label for="hablemos" class="hablemos">Hablemos</label>
						<textarea id="hablemos" class="hablemos" required="" name="hablemos" cols="30" rows="10"></textarea>
						<div class="derecha hablemos">	
							<input type="submit" value="Enviar" class="transicion">
						</div>
					</div>
				</form>
			</div>
		</footer>
		<div class="derechos">
			<h3> &copy;Copyright <span>Mi Talento</span>  2017 Todos los derechos reservados. <h3>
		</div>
		<script src="../../js/jquery.min.js"></script>
		<script src="../../js/jquery.lazyload.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/hammer.js/2.0.8/hammer.min.js"></script>
		<script src="https://apis.google.com/js/platform.js" async defer></script>
		<script src="../../js/script.js"></script>
	</body>
</html>	